<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZhiFang.WebLisService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--数据库选择Start***************-->
    <add key="DBSourceType" value="ZhiFang.DAL.MsSql.Weblis"/>
    <!--<add key="DBSourceType" value="ZhiFang.DAL.Oracle.weblis" />-->
    <!--数据库选择End*****************-->
    <add key="HisDBSourceType" value="ZhiFang.DAL.Interface"/>
    <add key="ZhiFang.IBLL.Interface" value="ZhiFang.BLL.Interface"/>
    <add key="ZhiFang.IBLL.SampleTrack" value="ZhiFang.BLL.SampleTrack"/>
    <add key="ZhiFang.IBLL.Common" value="ZhiFang.BLL.Common"/>
    <add key="ZhiFang.IBLL.Report" value="ZhiFang.BLL.Report"/>
    <add key="CheckXML" value="BarCode;GenderNo;GenderName;SampleType;CName;SampleTypeNo;WARDNAME;WARDNO;PatNo;Doctor;Age;AgeUnit;FOLKNAME;CollectDate;OperDate;ClientNo;ClientName;WebLisSourceOrgNo;WebLisS&#xA;&#xA;ourceOrgName;SerialNo;TESTTYPENO;STATUSNO;DISTRICTNO;DISTRICTNAME;DeptNo;DeptName;CollecterName;jztype;ItemNo;ItemName"/>
    <!--6.6FormNo  0不启用 1启用-->
    <add key="LinSFormNo" value="0"/>
    <!--存储dbf文件url-->
    <add key="UploadFilesUrl" value="UploadFiles"/>
    <!-- 报表存放路径 -->
    <add key="ReportConfigPath" value="D:\WebLis"/>
    <!-- 报告包含图片路径 -->
    <!--<add key="ReportIncludeImage" value="D:\资料\report"/>-->
    <add key="ReportIncludeImage" value="D:\WebLis\ReportFormImage"/>
    <!--存取报告报告pdf-->
    <add key="jpgorpdf" value="D:\WebLis\ReportFormImage\report\"></add>
    <!--需要转码的字段-->
    <!--<add key="TransCodField" value="ITEMNO"/>-->
    <!--<add key="TransCodField" value="ITEMNO;SAMPLETYPENO"/>-->
    <!--创建报告路径成功路径及名称-->
    <add key="create_successful" value="D:\WebLis\ReportFormImage\ReportFile"/>
    <!--不上传的小组(逗号分隔)如：sectionno not in (5,2),不启用则value为空-->
    <add key="NoUpLoadSectionNo" value=" sectionno not in (5)"/>
    <!--芜湖定制url传参查询报告路径-->
    <add key="WebLisReportServiceUrl" value="http://localhost/Weblis/ReportPrint/WeblisReportFormQueryPrint_QuYu_NoRBAC.aspx"/>
    <!--申请下载服务代理地址-->
    <add key="AgentRequestDown" value="http://192.168.1.111/WebLisService/RequestFormWebService.asmx"/>
    <!--客户编码类型：转码版本何函菲版本：CLIENTNO,罗文高版本：WEBLISSOURCEORGID。(CLIENTNO,WEBLISSOURCEORGID,WEBLISORGID)-->
    <add key="transcoding" value="CLIENTNO"/>
    <!--客户编码类型：下载报告版本何函菲版本：CLIENTNO,罗文高版本：WEBLISSOURCEORGID。(CLIENTNO,WEBLISSOURCEORGID,WEBLISORGID)-->
    <add key="DownLoadUnit" value="WEBLISSOURCEORGID"/>
    <!--存放对账单表的路径-->
    <add key="ExcelPath" value="F:\智方开发\WebLis\ItemNO为字符串版\ZhiFang.WebLis\ZhiFang.WebLis\TotalExcel\"/>
    <!--报告上传成功后是否发送给微信平台：0不发送、1发送-->
    <add key="SendWeiXinService" value="0"/>
    <!--是否生成报告 0否1是-->
    <add key="isGeneralReport" value="1"/>
    <!-- weblis苏州pki项目,报告重新上传,保留之前的报告记录,将记录插入_backup表，0否 1是-->
    <add key="isBackUpReport" value="0"/>
    <!--账户名：由区域检验平台分配-->
    <add key="Account" value="DSFYLJGDYFWXZBG@001"/>
    <!--密码：由区域检验平台分配-->
    <add key="PassWord" value="PWD@001"/>
    <!--serialno是否取barcode,0 否，1是-->
    <add key="SerialNoISbarcode" value="1"/>
    <!--上海妇婴保健院(定制)在NRequestForm表里面新增字段:TestAim（诊断类型），1：表示新增 0：表示不新增-->
    <add key="TestAimAddToNRequestForm" value="1"/>
    <!--ReportFormFull要下载的字段-->
    <add key="ReportFormFullField" value="ReportFormID,BARCODE,PersonID,RECEIVEDATE,SECTIONNAME,CName,Age,AgeUnitNo,Collecter,CollectDate,CollectTime,Technician,TestDate,TestTime,Checker,CheckDate,CheckTime,GenderName,DeptName,DoctorName,DistrictName,WardName,FolkName,SampleTypeName"/>
    <!--ReportItemFull要下载的字段-->
    <add key="ReportItemFullField" value="ReportFormID,RECEIVEDATE,TestItemName,TestItemSName,ReportValue,Unit,ReportDesc,RefRange,ItemDate,ItemTime,ParItemName,ParItemSName"/>
    <!--ReportMicroFull要下载的字段-->
    <add key="ReportMicroFullField" value="ReportFormID,RefRange,ItemDate,ItemTime"/>
    <!--ReportMarrowFull要下载的字段-->
    <add key="ReportMarrowFullField" value="ReportFormID,ReportValue,itemname,ReportDesc,ReportText,ReportValue,RefRange,ItemDate,ItemTime,ResultStatus"/>
    <!--默认-->
    <add key="XSLModelURL" value="XSL\Creat" />
    <!--谢鑫-->
    <!--存放XSL显示模板路径-->
    <add key="XSLModelShowURL" value="XSL/Show" />    
    <!-- 报表PDF文件存放路径（虚拟路径）  -->
    <add key="ReportFormPDFServiceUrl" value="http://localhost/Weblis/"/>
    <!--报告图片格式-->
    <add key="ReportFormFileType" value="PDF" />
    <!--报告图片临时存放路径-->
    <add key="ReportFormFilesDir" value="TmpReportImagePath" />
    <!--是否是新版本weblisService  1是 0否-->
    <add key="IsNewWeblisService" value="0"/>
    <!--TmpReportImagePath文件夹里面是否加个report文件 1表示加；0表示不加-->
    <add key="isUpLoadReport" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="WebLisDB" connectionString="user id=sa;password=longfuchu;data source=localhost\MSSQLSERVER2012;initial catalog=weblis.2012_ItemNoStr; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
    <add name="LisDB" connectionString="user id=sa;password=longfuchu;data source=localhost\MSSQLSERVER2012;initial catalog=weblis.2012_ItemNoStr; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
    <add name="CaiWuDB" connectionString="user id=sa;password=longfuchu;data source=localhost\MSSQLSERVER2012;initial catalog=weblis.2012_ItemNoStr; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://demo.zhifang.com.cn/ZhiFang.WeiXin/ReportFormWeiXinService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportFormWeiXinService"
        contract="WeiXinReportFormService.IReportFormWeiXinService"
        name="BasicHttpBinding_IReportFormWeiXinService" />
      <endpoint address="http://localhost/RMS/WebService/WSRbac.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSRbacSoap"
        contract="WSRBAC_Service.WSRbacSoap" name="WSRbacSoap" />
    </client>

    <services>
      <service name="ZhiFang.WebLisService.ReportFormService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportFormService"
          contract="ZhiFang.WebLisService.IReportFormService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:36290/ZhiFang.WebLisService/ReportFormService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ZhiFang.WebLisService.RequestFormService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRequestFormService"
          contract="ZhiFang.WebLisService.IRequestFormService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:36290/ZhiFang.WebLisService/RequestFormService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ZhiFang.WebLisService.BillService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillService"
          contract="ZhiFang.WebLisService.IBillService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:36290/ZhiFang.WebLisService/BillService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ZhiFang.WebLisService.WebLisDict">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWebLisDictClient"
          contract="ZhiFang.WebLisService.IWebLisDict" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:36290/ZhiFang.WebLisService/WebLisDict/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ZhiFang.WebLisService.TransferSamplingService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLisService.TransferSamplingServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.WebLisService.ITransferSamplingService" />
      </service>
      <service name="ZhiFang.WebLisService.Service_Customized.PKI.ReportFormRestfull">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLisService.Service_Customized.PKI.ReportFormAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.WebLisService.Service_Customized.PKI.ReportFormRestfull" />
      </service>
      <service name="ZhiFang.WebLisService.RequestFormServiceRestfull">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLisService.RequestFormServiceRestfullAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.WebLisService.RequestFormServiceRestfull" />
      </service>
      <service name="ZhiFang.WebLisService.Service_Customized.PKI.RequestFormRestfull">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLisService.Service_Customized.PKI.RequestFormRestfullAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.WebLisService.Service_Customized.PKI.RequestFormRestfull" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBillService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="33332" maxStringContentLength="200000000"
            maxArrayLength="16384000" maxBytesPerRead="40960003" maxNameTableCharCount="16384033" />
        </binding>
        <binding name="BasicHttpBinding_IReportFormWeiXinService" />
        <binding name="WSRbacSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IReportFormService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="5242880000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="163840000" maxBytesPerRead="40960000" maxNameTableCharCount="1638400" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRequestFormService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="163840" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IWebLisDictClient" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="163840" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>

      <webHttpBinding>
        <binding name="httpsSer" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="5242880000" maxReceivedMessageSize="65536000"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="163840000" maxBytesPerRead="40960000" maxNameTableCharCount="1638400" />
          <security mode="None">
          </security>
        </binding>
        <binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" allowCookies="true" maxBufferSize="2147483647"
          maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647">
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
      
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ZhiFang.WebLisService.TransferSamplingServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.WebLisService.Service_Customized.PKI.ReportFormAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.WebLisService.RequestFormServiceRestfullAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.WebLisService.Service_Customized.PKI.RequestFormRestfullAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="httsBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


  <applicationSettings>
    <ZhiFang.WebLisService.Properties.Settings>
      <setting name="ZhiFang_WebLisService_PrintService_ReportFormWebService"
        serializeAs="String">
        <value>http://192.168.1.126/WebLis/ServiceWCF/ReportFormWebService.asmx</value>
      </setting>
      <setting name="ZhiFang_WebLisService_WeblisWervice_ReportFormWebService_ReportFormWebService"
        serializeAs="String">
        <value>http://222.209.208.34/WeblisWervice_QP/ReportFormWebService.asmx</value>
      </setting>
    </ZhiFang.WebLisService.Properties.Settings>
  </applicationSettings>
</configuration>
