/*缺失模块图标*/
.main-close-45 {
	height:32px;width:32px;
	background-image: url('../images/main/missingmodule32.png') !important;
}
/*关闭按钮图标*/
.main-close-45 {
	height:45px;width:45px;
	background-image: url('../images/main/close.png') !important;
}
/*关闭按钮2图标*/
.main-close2-45 {
	cursor: pointer;
	height:45px;width:45px;
	background-image: url('../images/main/close2.png') !important;
}
/*设置按钮图标*/
.main-config-45 {
	height:45px;width:45px;
	background-image: url('../images/main/config.png') !important;
}
/*设置按钮2图标*/
.main-config2-45 {
	cursor: pointer;
	height:45px;width:45px;
	background-image: url('../images/main/config2.png') !important;
}
/*锁定按钮图标*/
.main-lock-45 {
	height:45px;width:45px;
	background-image: url('../images/main/lock.png') !important;
}
/*锁定按钮2图标*/
.main-lock2-45 {
	cursor: pointer;
	height:45px;width:45px;
	background-image: url('../images/main/lock2.png') !important;
}
/*皮肤按钮图标*/
.main-replaceSkin-45 {
	height:45px;width:45px;
	background-image: url('../images/main/replaceSkin.png') !important;
}
/*皮肤按钮2图标*/
.main-replaceSkin2-45 {
	cursor: pointer;
	height:45px;width:45px;
	background-image: url('../images/main/replaceSkin2.png') !important;
}
/*模块背景图*/
.main-moduleBg {
	cursor: pointer;
	height:78px;width:67px;
	background-image: url('../images/main/TitleAppBackGround.png') !important;
}
/*模块背景图2*/
.main-moduleBg2 {
	cursor: pointer;
	height:78px;width:67px;
	opacity: 0.6;
}
/*登录用户图标*/
.main-user-16 {
	height:16px;width:16px;
	background-image: url('../images/main/user.png') !important;
}