body
{
	background-color: #e1f3ff;
	font-size: 12px;
}


h1, h2, h4, h5
{
	color: #660000;
}

a
{
	color: #003366;
}
.boderblue
{
	border: #66CCFF dotted 1px;
}
.boderbluenone
{
	border-bottom-width: 1px;
	font-size: 12px;
}
.pad
{
	font-size: 12px;
	border-top-color:Black;
    border-top-width:1px;
	border-left-color:Black;
    border-left-width:1px;
}
.pad1
{
 border-bottom-color:Black;
 border-bottom-width:1px;
 border-right-color:Black;
 border-right-width:1px;
}
.bottom
{
	border-bottom-color: #66CCFF;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	height: 25;
}
.inputText
{
	width: 140px;
}
.inputText1
{
	width: 70px;
}
.inputTextList
{
	width:80px;
}
.inputTextList
{
	width:80px;
}
.CheckedItem_Table
{
	width:98%;
}
