# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.svn
*.vs
*.obj

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/PKI/Log_NHibernate_SQL
/PKI/Log
/PKI/UploadBaseTableInfo
/WebLis/ItemNO为字符串版/ZhiFang.WebLis/.svn
/WebLis/ZhiFang.WebLis/.svn
/ZhiFang.ReportFormQueryPrint/.svn
/四川大家/ZhiFang.WeiXin.2015/.svn
/技师站开发/.svn
/智方OA/ZhiFang.ProjectProgressMonitorManage/.svn
/智方Web/ZhiFang.Web.Assist-bak/.svn
/智方Web/ZhiFang.Web.Assist-bak/.vs
/智方Web/ZhiFang.Web.Assist-bak/.svn
/统计分析/ZhiFang.SA/.svn
/统计分析/ZhiFang.SA/.vs
