.text {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text:hover {
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
}
.qianyan {
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}
