.top {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.register {
	font-size: 12px;
	font-weight: bold;
	color: #267DB8;
	text-decoration: none;
}
.register1 {
	font-size: 12px;
	color: #264C84;
	text-decoration: none;
}
.number {
	font-size: 12px;
	font-weight: bold;
	color: #FE6D02;
	text-decoration: none;
}
.navigation {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 13px;
	font-weight: bold;
}
.navigation1 {
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.navigation_black {
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.news {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.text {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text:hover {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.top:hover {
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
}
.zhifang {
	font-family: "ºÚÌå";
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tool {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.right {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.right:hover {
	font-size: 12px;
	color: #3399FF;
	text-decoration: none;
}
