@CHARSET "UTF-8";
/*鼠标箭头变小手*/
.hand {cursor: pointer;}

/*新增按钮*/
.button-add {
	height:16px;width:16px;
	background-image: url('images/buttons/add.png') !important;}
	
/*修改按钮*/
.button-edit {
	height:16px;width:16px;
	background-image: url('images/buttons/edit.png') !important;}
	
/*查看按钮*/
.button-show {
	height:16px;width:16px;
	background-image: url('images/buttons/show.png') !important;}
	
/*删除按钮*/
.button-del {
	height:16px;width:16px;
	background-image: url('images/buttons/del.png') !important;}
	
/*刷新按钮*/
.button-refresh {
	height:16px;width:16px;
	background-image: url('images/buttons/refresh.gif') !important;}
	
/*查询按钮*/
.button-search {
	height:16px;width:16px;
	background-image: url('images/buttons/search.png') !important;}
	
/*高级查询按钮*/
.button-searcha {
	height:16px;width:16px;
	background-image: url('images/buttons/searcha.png') !important;}
	
/*保存按钮*/
.button-save {
	height:16px;width:16px;
	background-image: url('images/buttons/save.png') !important;}
	
/*另存按钮*/
.button-saveas {
	height:16px;width:16px;
	background-image: url('images/buttons/saveas.png') !important;}
	
/*重置按钮*/
.button-reset {
	height:16px;width:16px;
	background-image: url('images/buttons/reset.png') !important;}
	
/*取消按钮*/
.button-cancel {
	height:16px;width:16px;
	background-image: url('images/buttons/cancel.png') !important;}
	
/*返回按钮*/
.button-back {
	height:16px;width:16px;
	background-image: url('images/buttons/back.png') !important;}
	
/*确定按钮*/
.button-accept {
	height:16px;width:16px;
	background-image: url('images/buttons/accept.png') !important;}
	
/*审核按钮*/
.button-check {
	height:16px;width:16px;
	background-image: url('images/buttons/check.png') !important;}
	
/*取消审核按钮*/
.button-uncheck {
	height:16px;width:16px;
	background-image: url('images/buttons/uncheck.png') !important;}
	
/*打印按钮*/
.button-print {
	height:16px;width:16px;
	background-image: url('images/buttons/print.png') !important;}
	
/*导入按钮*/
.button-import {
	height:16px;width:16px;
	background-image: url('images/buttons/import.png') !important;}
	
/*导出按钮*/
.button-exp {
	height:16px;width:16px;
	background-image: url('images/buttons/exp.png') !important;}
	
/*设置按钮*/
.button-config {
	height:16px;width:16px;
	background-image: url('images/buttons/config.png') !important;}
/*设置按钮-银灰色*/
.button-config-gray {
	height:16px;width:16px;
	background-image: url('images/buttons/config_gray.png') !important;}
	
/*帮助按钮*/
.button-help {
	height:16px;width:16px;
	background-image: url('images/buttons/help.png') !important;}
	
/*错误按钮*/
.button-error {
	height:16px;width:16px;
	background-image: url('images/buttons/error.png') !important;}
	
/*应用按钮*/
.button-app {
	height:16px;width:16px;
	background-image: url('images/buttons/app.png') !important;}
	
/*列表按钮*/
.button-list {
	height:16px;width:16px;
	background-image: url('images/buttons/list.png') !important;}
	
/*表单按钮*/
.button-form {
	height:16px;width:16px;
	background-image: url('images/buttons/form.png') !important;}
	
/*图片-新增按钮*/
.button-image-add {
	height:16px;width:16px;
	background-image: url('images/buttons/image-add.png') !important;}
	
/*图片-修改按钮*/
.button-image-edit {
	height:16px;width:16px;
	background-image: url('images/buttons/image-edit.png') !important;}

/*向左按钮*/
.button-left {
	height:16px;width:16px;
	background-image: url('images/buttons/left.png') !important;}
/*向右按钮*/
.button-right {
	height:16px;width:16px;
	background-image: url('images/buttons/right.png') !important;}
	
/*向下按钮*/
.button-down {
	height:16px;width:16px;
	background-image: url('images/buttons/down.png') !important;}
/*向上按钮*/
.button-up {
	height:16px;width:16px;
	background-image: url('images/buttons/up.png') !important;}
	
/*箭头向内按钮*/
.button-arrow-in {
	height:16px;width:16px;
	background-image: url('images/buttons/arrow-in.png') !important;}
	
/*箭头向外按钮*/
.button-arrow-out {
	height:16px;width:16px;
	background-image: url('images/buttons/arrow-out.png') !important;}
	
/*锁定按钮*/
.button-lock {
	height:16px;width:16px;
	background-image: url('images/buttons/lock.png') !important;}
/*锁定打开按钮*/
.button-lock-open {
	height:16px;width:16px;
	background-image: url('images/buttons/lock_open.png') !important;}
/*锁定中断按钮*/
.button-lock-break {
	height:16px;width:16px;
	background-image: url('images/buttons/lock_break.png') !important;}

/*文字_免按钮*/
.button-text-free {
	height:16px;width:16px;
	background-image: url('images/buttons/text_free.png') !important;}
/*文字_解按钮*/
.button-text-relieve {
	height:16px;width:16px;
	background-image: url('images/buttons/text_relieve.png') !important;}
/*文字_个按钮*/
.button-text-person {
	height:16px;width:16px;
	background-image: url('images/buttons/text_person.png') !important;}
/*文字_返按钮*/
.button-text-return {
	height:16px;width:16px;
	background-image: url('images/buttons/text_return.png') !important;}
/*登录按钮*/
.button-login {
	height:16px;width:16px;
	background-image: url('images/buttons/login.png') !important;}
/*交流按钮*/
.button-interact {
	height:16px;width:16px;
	background-image: url('images/buttons/interact_orange.png') !important;}

.Diy-mask {
	opacity: 0.5;//chrome
	z-index: 100;
	filter:alpha(opacity=50);//IE必须加这句
	-moz-opacity: 0.5;//火狐    
}

.Interaction_Div_Left{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Left span {
	font-weight: bold;
	font-size:10px;
	padding:10px;
}
.Interaction_Div_Left img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: left;
	margin:5px;
}
.Interaction_Div_Left div {
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding:10px;
	margin:5px;
	margin-left:40px;
	margin-right:20%;
}
.Interaction_Div_Right{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Right img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: right;
	margin:5px;
}
.Interaction_Div_Right div {
	border-radius: 5px;
	background: #BFFEBF;
	border: 1px solid #BFFEBF;
	padding:10px;
	margin:5px;
	/*margin-top:20px;*/
	margin-right:40px;
	margin-left:20%;
}

/**/
.Interaction_Div_Left{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Left_Name {
	font-weight: bold;
	font-size:10px;
	padding:10px;
}
.Interaction_Div_Left_Img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: left;
	margin:5px;
}
.Interaction_Div_Left_Content {
	border-radius: 5px;
	background: #E0E0E0;
	border: 1px solid #E0E0E0;
	padding:10px;
	margin:5px;
	margin-left:40px;
	margin-right:20%;
}
.Interaction_Div_Right{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Right_Img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: right;
	margin:5px;
}
.Interaction_Div_Right_Content {
	border-radius: 5px;
	background: #BFFEBF;
	border: 1px solid #BFFEBF;
	padding:10px;
	margin:5px;
	/*margin-top:20px;*/
	margin-right:40px;
	margin-left:20%;
}