<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
<spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <!--数据库访问层配置-->
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/DaoBase.xml" />
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/Dao.xml" />
      <!--业务处理层配置-->
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/ServiceBase.xml" />
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/Service.xml" />
      <!--契约实现-->
      <!--<resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/Facade.xml" />-->
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
      <!--拦截控制层所有业务操作-->
      <!--
      <object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            -->
      <!--<value>ZhiFang.BloodTransfusion.*</value>-->
      <!--
            <value>ZhiFang.Digitlab.ServiceCommon.*</value>
          </list>
        </property>
      </object>-->
      <!--数据库升级-->
      <object id="UpdateDataBase" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.BloodTransfusion.ServerWCF.RBACService.*</value>
          </list>
        </property>
      </object>
      <!--拦截服务层所有业务操作-->
      <object id="LoginValidationOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.BloodTransfusion.ReaSysManageService.*</value>
            <value>ZhiFang.BloodTransfusion.WeiXinAppService.*</value>
            <value>ZhiFang.BloodTransfusion.SingleTableService.*</value>
            <value>ZhiFang.BloodTransfusion.ConstructionService.*</value>
            <value>ZhiFang.BloodTransfusion.PublicService.*</value>
          </list>
        </property>
      </object>
      <!--登录成功后,实验室数据升级RBAC_BA_Login-->
      <object id="LoginAfterOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.BloodTransfusion.ServerWCF.RBACService.*</value>
          </list>
        </property>
      </object>
      <!--切面-->
      <!--
      <object id="LogAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.InterceptorLog, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
      -->
      <!--切面-->
      <!--
      <object id="BeforeAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.InterceptorAuthorityFilter, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
      -->
      <!--切面-->
      <!--
      <object id="AfterAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.AfterReturningAdvice, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
      -->
      <!--切面-->
      <!--
      <object id="ExceptAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.ExceptAdvice, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>-->
      <object id="UpdateDataBaseAdvice" type="ZhiFang.Interceptor.BloodTransfusion.UpdateDataBaseAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <!--登录验证切面-->
      <object id="LoginValidationAdvice" type="ZhiFang.Interceptor.BloodTransfusion.LoginValidationAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <object id="ModuleValidationAdvice" type="ZhiFang.Interceptor.BloodTransfusion.ModuleValidationAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <!--登录成功后拦截-->
      <object id="LoginAfterFilterAdvice" type="ZhiFang.Interceptor.BloodTransfusion.LoginAfterFilterAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <!--关联切面-->
      <aop:config>
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="LogAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="BeforeAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="AfterAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="ExceptAdvice"/>-->
        <!--<aop:advisor pointcut-ref="UpdateDataBase" advice-ref="UpdateDataBaseAdvice" />
        <aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="LoginValidationAdvice" />
        <aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="ModuleValidationAdvice" />
        <aop:advisor pointcut-ref="LoginAfterOperation" advice-ref="LoginAfterFilterAdvice" />-->
      </aop:config>
    </objects>
  </spring>
  <!--数据库连接字符串-->
  <databaseSettings>
    <!--.\SQLEXPRESS localhost\MSSQLSERVER201-->
    <add key="db.provider" value="SqlServer-2.0" />
    <add key="db.connectionString" value="Server=.;database=ZhiFang.BloodTransfusion2008;uid=sa;pwd=sa;" />
    <add key="db.driver_class" value="NHibernate.Driver.SqlClientDriver" />
    <add key="db.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
    <add key="hbm2ddl.auto" value="update" />
  </databaseSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--上传注册证原件的保存路径(物理路径)-->
    <add key="UploadRegisterFile" value="D:\UploadFiles" />
    <add key="Spring.Data.NHibernate.Support.SessionScope.SessionFactoryObjectName" value="NHibernateSessionFactory" />
    <add key="EntityNamespace" value="ZhiFang.Entity.BloodTransfusion" />
    <add key="ReportTemplateDir" value="ReportTemplate" />
    <add key="ReportTemplateFileextension" value=".frx" />
    <!--微信参数-->
    <add key="appid" value="wx82fee0402905390c" />
    <add key="appsecret" value="28eb6ea1135bc8999d54644ce894aaf6" />
    <add key="GetTokenUrl" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential" />
    <add key="GetOpenIdListUrl" value="https://api.weixin.qq.com/cgi-bin/user/get" />
    <add key="GetOpenIdUrl" value="https://api.weixin.qq.com/cgi-bin/user/info" />
    <!--<add key="GetUserAuthorizeCode" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid=APPID&redirect_uri=REDIRECT_URI&response_type=code&scope=SCOPE&state=STATE#wechat_redirect"/>-->
    <add key="GetUserAuthorizeTokenUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token" />
    <add key="GetUserAuthorizeTokenRefreshUrl" value="https://api.weixin.qq.com/sns/oauth2/refresh_token" />
    <add key="GetJSAPITokenUrl" value="https://api.weixin.qq.com/cgi-bin/ticket/getticket" />
    <add key="PushMsgUrl" value="https://api.weixin.qq.com/cgi-bin/message/custom/send" />
    <add key="GetMediaUrl" value="http://file.api.weixin.qq.com/cgi-bin/media/get" />
    <add key="GetPermanentMediaListUrl" value="https://api.weixin.qq.com/cgi-bin/material/batchget_material" />
    <add key="GetPermanentMediaFileUrl" value="https://api.weixin.qq.com/cgi-bin/material/get_material" />
    <add key="Domain" value="demo.zhifang.com.cn" />
    <!--模版消息-->
    <add key="SetBusinessUrl" value="https://api.weixin.qq.com/cgi-bin/template/api_set_industry" />
    <add key="GetBusinessTemplateIdUrl" value="https://api.weixin.qq.com/cgi-bin/template/api_add_template" />
    <add key="PushMessageTemplateContextUrl" value="https://api.weixin.qq.com/cgi-bin/message/template/send" />
    <!--消息推送开关0：不推送，1推送。默认不推送-->
    <add key="PushMessageFlag" value="0" />
    <!--模版消息-->
    <add key="SJBhttpReg" value="101100-SJB-ZFKJ-867438" />
    <add key="SJBhttpPWD" value="VHODXCGZ" />
    <add key="SJBhttpVaildModule" value="(检验之星平台验证码,十分钟内有效)【智方科技】" />
    <add key="VaildCodeTimeOut" value="300" />
    <!--欢迎词-->
    <add key="WelcomeStr" value="'XXX'您好！检验之星服务号正在建设中，感谢您的关注！" />
    <add key="WelcomeStrInput" value="请输入“手机号:xxx”或“身份证号:xxx”进行绑定或直接输入“条码号:xxx”进行查询！" />
    <!--是否强制注册手机号（1开启0关闭）-->
    <add key="RegeditMobileFlag" value="1" />
    <!--微信版本-->
    <add key="WeiXinVersion" value="0000.0000.0000.0000" />
    <!--微信参数-->
    <!--订单自动审核时间间隔，单位秒-->
    <add key="AutoCheckOrderDocTime" value="60" />
    <!--巴瑞订单新旧接口类型-->
    <add key="BaronInterfaceType" value="1" />
    <!--关闭自动刷新-->
    <add key="vs:EnableBrowseLink" value="false" />
  </appSettings>
</configuration>