BODY {
	FONT-SIZE: 12px; FONT-FAMILY: arial,宋体
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: arial,宋体
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: arial,宋体
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: arial,宋体
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
BODY {
	BACKGROUND:  #E3E3E3 repeat-x 50% top; TEXT-ALIGN: center
}
A:link {
	COLOR: #0049d3; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0049d3; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f70; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f70; TEXT-DECORATION: underline
}
A.lnkg:link {
	COLOR: #666
}
A.lnkg:visited {
	COLOR: #666
}
#hd {
	MARGIN: 0px auto; WIDTH: 95%
}
#bd {
	MARGIN: 0px auto; WIDTH: 95%
}
#ft {
	MARGIN: 0px auto; WIDTH: 95%
}
#nav {
	MARGIN: 0px auto; WIDTH: 95%
}
.bdl {
	FLOAT: left;
	
}
.bdm {
	FLOAT: left;
	
}
.lg {
	FLOAT: left
}
.bdr {
	FLOAT: left
}
.hdt {
	FLOAT: right
}
.navitm {
	FLOAT: right
}
.bdl {
	WIDTH: 33%;
}
.bdm {
	WIDTH: 33%;
	margin-left:3px;
}
.bdr {
	WIDTH: 33%;
	margin-left:3px;
}
.cen {
	TEXT-ALIGN: center! important
}
.colcon {
	TEXT-ALIGN: left
}
.colcon .istpad TEXTAREA {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; OVERFLOW-Y: hidden; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; HEIGHT: auto
}
/*模块的边框*/
.col {
	BORDER-RIGHT: #9698ad 1px solid; BORDER-TOP: #9698ad 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #9698ad 1px solid; BORDER-BOTTOM: #9698ad 1px solid; BACKGROUND-COLOR: #fff
}
.colbatch {
	BORDER-RIGHT: #9698ad 1px solid; BORDER-TOP: #9698ad 1px solid; MARGIN-BOTTOM: 0em; BORDER-LEFT: #9698ad 1px solid; BORDER-BOTTOM: #9698ad 1px solid; BACKGROUND-COLOR: #fff
}
.coltit {
	BACKGROUND: url("titbg.gif") #d5d5d5 repeat-x; CURSOR: move; LINE-HEIGHT: 20px; BORDER-BOTTOM: #b6b7ca 1px solid; HEIGHT: 20px;
}
.coltit STRONG {
	PADDING-LEFT: 1.4em; FLOAT: left; MARGIN-LEFT: 0.5em
}
.coltit SPAN {
	FLOAT: right; FONT-STYLE: normal
}
.colcon {
	PADDING-RIGHT: 0.8em; BORDER-TOP: #dddddb 1px solid; PADDING-LEFT: 0.8em; PADDING-BOTTOM: 0.4em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0.4em
}
.close {
	FLOAT: left; CURSOR: hand
}
.open {
	FLOAT: left; CURSOR: hand
}
.title {
	FLOAT: left; CURSOR: hand
}
.edit {
	FLOAT: left; CURSOR: hand
}
.refresh {
	FLOAT: left; CURSOR: hand
}
.hidde {
	FLOAT: left; CURSOR: hand
}
.edit {
	COLOR: #0049d3; MARGIN-RIGHT: 0.5em
}
.refresh {
	COLOR: #0049d3; MARGIN-RIGHT: 0.5em;
}
.hidde {
	COLOR: #0049d3; MARGIN-RIGHT: 0.5em
}
.close {
	OVERFLOW: hidden; WIDTH: 20px; HEIGHT: 20px
}
.open {
	OVERFLOW: hidden; WIDTH: 20px; HEIGHT: 20px
}
.close {
	BACKGROUND: url("bnop.gif") no-repeat 5px 6px
}
.open {
	BACKGROUND: url("bncl.gif") no-repeat 5px 6px
}
.title {
	FONT-WEIGHT: bold; CURSOR: text
}
#bd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#bd DIV.weac1:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#bd DIV.weac2:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#bd UL.sitelst:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#bd UL.sitelsta:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#bd UL.sitelstb:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#bd DIV.srhtab:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#bd DIV.edbm:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
#hd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
.pd0 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.pd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.2em; PADDING-BOTTOM: 0px; PADDING-TOP: 0.6em
}
.b0 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.hide {
	DISPLAY: none! important
}
.box1 {
	BORDER-RIGHT: #5b83e2 1px solid; BORDER-TOP: #5b83e2 1px solid; BORDER-LEFT: #5b83e2 1px solid; BORDER-BOTTOM: #5b83e2 1px solid
}
.box2 {
	BORDER-RIGHT: #e7edfb 3px solid; BORDER-TOP: #e7edfb 3px solid; BORDER-LEFT: #e7edfb 3px solid; BORDER-BOTTOM: #e7edfb 3px solid
}
.colcon .istpad {
	OVERFLOW: hidden; WIDTH: 98%
}
.colcon .istpad .dashed {
	BORDER-RIGHT: #4e5e88 1px dashed; PADDING-RIGHT: 3px; BORDER-TOP: #4e5e88 1px dashed; OVERFLOW-Y: hidden; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #4e5e88 1px dashed; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: #4e5e88 1px dashed
}
.welword .dashed {
	BORDER-RIGHT: #fff 1px dashed; BORDER-TOP: #fff 1px dashed; BORDER-LEFT: #fff 1px dashed; BORDER-BOTTOM: #fff 1px dashed; BACKGROUND-COLOR: #a8b0c8
}
.lg {
	MARGIN-TOP: 1em; WIDTH: 18%
}
.hdt {
	BACKGROUND: url(http://cn.yimg.com/i/realn/fp/txtbg.gif) no-repeat 100% 0.5em; WIDTH: 80%; HEIGHT: 68px
}
.welword {
	MARGIN-TOP: 42px; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/txtbg2.gif) #7684ab no-repeat left top; OVERFLOW: hidden; HEIGHT: 27px; TEXT-ALIGN: left
}
.welword INPUT {
	BORDER-RIGHT: #7684ab 1px solid; BORDER-TOP: #7684ab 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 14px; MARGIN-LEFT: 3em; BORDER-LEFT: #7684ab 1px solid; WIDTH: 90%; COLOR: #fff; PADDING-TOP: 5px; BORDER-BOTTOM: #7684ab 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #7684ab
}
#nav {
	BACKGROUND: #969db8; MARGIN-BOTTOM: 0.8em;MARGIN-TOP:5px
}
.nav {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid
}
.navbar {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: url("navbg.gif") #a8b0c8 repeat-y; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 23px
}
.navmsg {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/ictip.gif) no-repeat 10px 5px; PADDING-BOTTOM: 0.5em; COLOR: #fff; PADDING-TOP: 0.5em; TEXT-ALIGN: left
}
.navmsg A:link {
	COLOR: #fff; TEXT-DECORATION: underline
}
.navmsg A:visited {
	COLOR: #fff; TEXT-DECORATION: underline
}
.navmsg A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.navmsg A:active {
	COLOR: #fff; TEXT-DECORATION: underline
}
.lnknav {
	BORDER-RIGHT: #5a82e2 1px solid; BORDER-TOP: #5a82e2 1px solid; BACKGROUND: url("bnbg.gif") no-repeat center 50%; FLOAT: left; MARGIN: 0.15em 0.5em; BORDER-LEFT: #5a82e2 1px solid; WIDTH: 88px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #5a82e2 1px solid; HEIGHT: 19px
}
.navitm {
	MARGIN: 0.5em 1em 0px 0px; COLOR: #666
}
.weac1 {
	MARGIN-BOTTOM: 0.5em; WIDTH: 100%
}
.weatit {
	COLOR: #898989; LINE-HEIGHT: 2.3em; BACKGROUND-COLOR: #ededed; TEXT-ALIGN: center
}
.weatit STRONG {
	COLOR: #fe7600
}
.weac1 UL LI STRONG {
	COLOR: #fe7600
}
.weac2 UL LI STRONG {
	COLOR: #fe7600
}
.sitelst LI.hot {
	COLOR: #fe7600
}
.sitelst LI.hot A {
	COLOR: #fe7600
}
.sitelsta LI STRONG {
	COLOR: #fe7600
}
.sitelstb LI STRONG {
	COLOR: #fe7600
}
.timecon STRONG {
	COLOR: #fe7600
}
.timepanel STRONG {
	COLOR: #fe7600
}
.weatit STRONG {
	FONT-SIZE: 14px
}
.sitelstb STRONG A:link {
	COLOR: #fe7600
}
.sitelstb STRONG A:visited {
	COLOR: #fe7600
}
.weac1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.weac2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.weac1 UL LI {
	DISPLAY: inline; FLOAT: left; COLOR: #010101; MARGIN-RIGHT: 1em
}
.weac2 UL LI {
	DISPLAY: inline; FLOAT: left; COLOR: #010101; MARGIN-RIGHT: 1em
}
.weac1 UL {
	MARGIN-LEFT: 2em
}
.weac2 {
	PADDING-BOTTOM: 0.4em
}
.weac2 {
	CLEAR: both; WIDTH: 100%; BACKGROUND-COLOR: #ededed
}
.weac2 UL LI {
	MARGIN-LEFT: 2em
}
.sitelst {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sitelsta {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE:none;
	
}
.sitelstb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sitelst LI {
	FLOAT: left; OVERFLOW: hidden; LINE-HEIGHT: 23px; HEIGHT: 23px;
	
}
.sitelsta LI {
	FLOAT: left; OVERFLOW:hidden; LINE-HEIGHT: 23px; HEIGHT: 23px;
}
.sitelstb LI {
	FLOAT: left; OVERFLOW: hidden; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.cbg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/cbg1.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.blne {
	MARGIN-BOTTOM: 0.4em; BORDER-BOTTOM: #c9deef 1px solid
}

/*左中右控制开始*/


.sitelsta LI {
	WIDTH: 190px; POSITION: static
}

.sitelsta LI IMG {
	POSITION: absolute; TOP: 4px
}


/*左中右控制结束*/


.srhbg {
	BACKGROUND: #e9edec
}
.srhtab {
	MARGIN: 0px auto 0.5em; WIDTH: 80%
}
.srhtab UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.srhtab UL LI {
	FLOAT: left
}
.srhtab UL LI.on {
	BORDER-RIGHT: #adbfe7 1px solid; PADDING-RIGHT: 0.6em; BORDER-TOP: #adbfe7 1px solid; PADDING-LEFT: 0.6em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #adbfe7 1px solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #adbfe7 1px solid
}
.srhtab UL LI A {
	PADDING-RIGHT: 0.6em; DISPLAY: block; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.1em
}
.srhinp {
	BORDER-RIGHT: #d9e9f8 1px solid; BORDER-LEFT: #d9e9f8 1px solid; HEIGHT: 27px; TEXT-ALIGN: left
}
.srhinp INPUT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: #5984e0 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 2px 1px; BORDER-LEFT: #5984e0 1px solid; WIDTH: 80%; COLOR: #aaa; PADDING-TOP: 2px; BORDER-BOTTOM: #5984e0 1px solid; HEIGHT: 23px
}
.srhinp BUTTON {
	BORDER-RIGHT: #5984e0 1px solid; BORDER-TOP: #5984e0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/bnsrh2.gif) #b8c3cd repeat-x 50% top; FLOAT: left; MARGIN: 2px 1px 2px 0px; BORDER-LEFT: #5984e0 1px solid; WIDTH: 19%; COLOR: #0149d0; BORDER-BOTTOM: #5984e0 1px solid; HEIGHT: 23px
}
.srhkeys {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em; TEXT-ALIGN: left
}
.bdl .srhtab {
	WIDTH: 90%;
	
}
.bdl .srhinp INPUT {
	WIDTH: 78%
}
.bdr .srhtab {
	WIDTH: 90%
}
.bdr .srhinp INPUT {
	WIDTH: 79.5%
}
.bline {
	BACKGROUND: url(http://cn.yimg.com/i/realn/fp/daslin.gif) repeat-x; OVERFLOW: hidden; HEIGHT: 0.5em
}


.timecon {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
.timecon UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.timecon LI {
	MARGIN-BOTTOM: 0.5em
}
.timecon .tsel {
	MARGIN-LEFT: 2em; TEXT-ALIGN: left
}
.timecon TEXTAREA {
	VERTICAL-ALIGN: middle; WIDTH: 160px; HEIGHT: 35px
}
.timecon .tsel SELECT {
	MARGIN-BOTTOM: 0.3em
}
.myorder {
	PADDING-LEFT: 0.4em; TEXT-ALIGN: left
}
.myorder IMG {
	MARGIN: 2px 0px; VERTICAL-ALIGN: middle
}
.myorder A:link {
	LINE-HEIGHT: 22px
}
.myorder A:visited {
	LINE-HEIGHT: 22px
}
.timepanel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.8em; PADDING-TOP: 0.8em; TEXT-ALIGN: center
}
.timepanel STRONG {
	FONT-SIZE: 20px
}
.timepanel P {
	MARGIN: 0.5em 0px 0px
}
.picctl {
	MARGIN-BOTTOM: 0.4em
}
.picctl A:link {
	MARGIN: 0.4em 1em 0.4em 0px; VERTICAL-ALIGN: middle; ZOOM: 1
}
.picctl A:visited {
	MARGIN: 0.4em 1em 0.4em 0px; VERTICAL-ALIGN: middle; ZOOM: 1
}
.picctl A:hover {
	MARGIN: 0.4em 1em 0.4em 0px; VERTICAL-ALIGN: middle; ZOOM: 1
}
.picctl A:active {
	MARGIN: 0.4em 1em 0.4em 0px; VERTICAL-ALIGN: middle; ZOOM: 1
}
.picctlpre {
	BACKGROUND: url(http://cn.yimg.com/i/realn/fp/bnvpic.gif) #000 no-repeat; OVERFLOW: hidden; WIDTH: 28px; HEIGHT: 17px
}
.picctlnext {
	BACKGROUND: url(http://cn.yimg.com/i/realn/fp/bnvpic.gif) #000 no-repeat; OVERFLOW: hidden; WIDTH: 28px; HEIGHT: 17px
}
.picctlstop {
	BACKGROUND: url(http://cn.yimg.com/i/realn/fp/bnvpic.gif) #000 no-repeat; OVERFLOW: hidden; WIDTH: 28px; HEIGHT: 17px
}
.picctlplay {
	BACKGROUND: url(http://cn.yimg.com/i/realn/fp/bnvpic.gif) #000 no-repeat; OVERFLOW: hidden; WIDTH: 28px; HEIGHT: 17px
}
.picctlnext {
	BACKGROUND-POSITION: -56px 0px
}
.picctlpre {
	BACKGROUND-POSITION: -84px 0px
}
.picctlstop {
	BACKGROUND-POSITION: -28px 0px
}
.picctlplay {
	BACKGROUND-POSITION: 0px 0px
}
.picpreview {
	FLOAT: left; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 98.6%; HEIGHT: 200px
}
.picpreview .blank {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 0px; BORDER-BOTTOM: 0px; HEIGHT: 200px
}
.picpreview IMG {
	BORDER-RIGHT: #fff 4px solid; BORDER-TOP: #fff 4px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #fff 4px solid; BORDER-BOTTOM: #fff 4px solid; outline: 1px solid #ccc
}
.picpreview SPAN {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.radiochannel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6em; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/radiobg.jpg) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0.4em; HEIGHT: 80px
}
.radiochannel UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.radiochannel UL LI {
	PADDING-LEFT: 10px; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/arr.gif) no-repeat 0px 5px; FLOAT: left; WIDTH: 80px
}
.bdl .radiochannel {
	PADDING-LEFT: 5em
}
.bdr UL.sitelst LI {
	WIDTH: 80px
}
.edtop {
	BACKGROUND: #f6f6f6; PADDING-TOP: 0.5em; TEXT-ALIGN: left
}
.edtop UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.edtop UL LI {
	WIDTH: 100%; HEIGHT: 26px
}
A.lnkr:link {
	COLOR: #f03; LINE-HEIGHT: 26px; TEXT-DECORATION: underline
}
A.lnkr:visited {
	COLOR: #f03; LINE-HEIGHT: 26px; TEXT-DECORATION: underline
}
A.lnkr:hover {
	COLOR: #f03; LINE-HEIGHT: 26px; TEXT-DECORATION: underline
}
A.lnkr:active {
	COLOR: #f03; LINE-HEIGHT: 26px; TEXT-DECORATION: underline
}
.edtop UL LI B {
	FONT-WEIGHT: normal; FLOAT: left; WIDTH: 70px; LINE-HEIGHT: 22px; MARGIN-RIGHT: 0.2em; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.bnt {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/bn.gif) no-repeat center 50%; BORDER-LEFT: 0px; WIDTH: 44px; BORDER-BOTTOM: 0px; HEIGHT: 20px
}
.edbm {
	PADDING-RIGHT: 1em; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 1em; BACKGROUND: #fff; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.embm2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 10px; BORDER-LEFT: 0px; PADDING-TOP: 0.5em; BORDER-BOTTOM: 0px
}
.bndel {
	BACKGROUND: url(http://cn.yimg.com/i/realn/fp/bncla.gif) no-repeat; FLOAT: left; MARGIN: 0.4em 0.2em 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 9px; HEIGHT: 10px
}
.edbm A {
	MARGIN-BOTTOM: 0.8em
}
.edbm UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.edbm UL LI {
	CLEAR: both; WIDTH: 100%; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#mydiy {
	WIDTH: 180px; BACKGROUND-COLOR: #fff
}
#mydiy BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; CURSOR: hand; LINE-HEIGHT: 16px; PADDING-TOP: 0px
}
#mydiy UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mydiy LI {
	CLEAR: both; BORDER-RIGHT: #fff 1px solid; PADDING-LEFT: 1em; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/ic2.gif) no-repeat 8px 5px; BORDER-LEFT: #fff 1px solid
}
#mydiy .t {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(http://cn.yimg.com/i/realn/fp/ic1.gif) #f4f4f4 no-repeat 5px 8px; BORDER-LEFT: 0px; LINE-HEIGHT: 26px; BORDER-BOTTOM: 0px; HEIGHT: 26px
}
#mydiy .a {
	PADDING-LEFT: 1.3em; LINE-HEIGHT: 22px; HEIGHT: 22px; BACKGROUND-COLOR: #f4f4f4
}
#mydiy .b {
	PADDING-LEFT: 1.3em; LINE-HEIGHT: 18px; HEIGHT: 18px; BACKGROUND-COLOR: #fff
}
#mydiy .l {
	PADDING-LEFT: 0.5em; FLOAT: left
}
#mydiy .r {
	PADDING-RIGHT: 0.5em; FLOAT: right; WORD-SPACING: -2px; FONT-FAMILY: "宋体"
}
#iopanel {
	WIDTH: 390px; BACKGROUND-COLOR: #fff
}
#iopanel BUTTON {
	CURSOR: hand
}
#iopanel .iocon {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; WIDTH: 100%; PADDING-TOP: 0.5em; POSITION: relative
}
#iopanel .iotxt {
	MARGIN: 4px auto auto; WIDTH: 86%; COLOR: #666; LINE-HEIGHT: 16px; TEXT-ALIGN: left
}
#batchadd {
	WIDTH: 830px
}
#batchadd BUTTON {
	BORDER-RIGHT: #da7a40 2px solid; PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #da7a40 2px solid; BACKGROUND-COLOR: #ffef00
}
#batchadd .pd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#batchadd .coltit {
	WIDTH: 832px
}
#batchadd .b1 {
	FONT-SIZE: 12px! important
}
.tabbg {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://cn.yimg.com/i/3721/left_tab2.gif); WIDTH: 104px; HEIGHT: 25px; TEXT-DECORATION: none
}
#batchcont TD {
	FONT-SIZE: 12px
}
.b1 {
	PADDING-LEFT: 20px; PADDING-TOP: 3px
}
A.tabbg01 {
	BACKGROUND-POSITION: right 50%; DISPLAY: block; BACKGROUND-IMAGE: url(http://cn.yimg.com/i/3721/left_tab2.gif); WIDTH: 104px; LINE-HEIGHT: 21px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
A.tabbg01:hover {
	BACKGROUND-IMAGE: url(http://cn.yimg.com/i/3721/left_tab1.gif); WIDTH: 104px; COLOR: #000; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; TEXT-DECORATION: underline
}
.tabbg02 {
	BACKGROUND-IMAGE: url(http://cn.yimg.com/i/3721/left_tab1.gif); WIDTH: 104px; COLOR: #000; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; TEXT-DECORATION: none
}
.tabb {
	WIDTH: 104px; HEIGHT: 2px
}
.bt01 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 22px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.dot {
	BACKGROUND: url(http://cn.yimg.com/i/3721/dot.gif) repeat-x; LINE-HEIGHT: 0; HEIGHT: 1px
}
A.selected:link {
	FONT-SIZE: 12px; COLOR: #000; TEXT-DECORATION: none
}
A.selected:visited {
	FONT-SIZE: 12px; COLOR: #000; TEXT-DECORATION: none
}
A.selected:hover {
	FONT-SIZE: 12px; COLOR: #000; TEXT-DECORATION: none
}
.icon01 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 7px; COLOR: #333; TEXT-DECORATION: none
}
#ft {
	COLOR: #7785ac
}
#ft A {
	COLOR: #7785ac
}
#ft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.8em; PADDING-TOP: 0.8em
}
.close1 {
	FLOAT: left; CURSOR: hand
}
.close1 {
	OVERFLOW: hidden; WIDTH: 20px; HEIGHT: 25px
}
.close2 {
	RIGHT: 3px; WIDTH: 13px; POSITION: absolute; TOP: 1px; HEIGHT: 13px
}
.coltit .close2 {
	RIGHT: 4px; WIDTH: 14px; TOP: 6px
}
.edit1 {
	FLOAT: left; CURSOR: hand
}
.hidde1 {
	FLOAT: left; CURSOR: hand
}
.open1 {
	FLOAT: left; CURSOR: hand
}
.open1 {
	OVERFLOW: hidden; WIDTH: 20px; HEIGHT: 25px
}
.open1 {
	BACKGROUND: url(http://cn.yimg.com/i/3721/ar.gif) no-repeat 5px 6px
}
.refresh1 {
	FLOAT: left; CURSOR: hand
}
.title1 {
	FONT-SIZE: 14px; FLOAT: left; CURSOR: hand; COLOR: #4d4960
}
.title1 {
	FONT-WEIGHT: bold; CURSOR: text
}
#ft {
	COLOR: #7785ac
}
#ft A {
	COLOR: #7785ac
}
#ft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.8em; PADDING-TOP: 0.8em
}
#weatherc {
	FLOAT: left
}
.ft1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.tmp {
	FONT-WEIGHT: bold; FONT-SIZE: 150%; LINE-HEIGHT: 180%; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.tpa {
	COLOR: #e00000; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.tpb {
	COLOR: #009a9a; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.hitp {
	COLOR: #e30000
}
.lotp {
	COLOR: #099
}
.l2 A:link {
	FONT-WEIGHT: bold; COLOR: #04d
}
.l2 A:visited {
	FONT-WEIGHT: bold; COLOR: #04d
}
.l2 {
	MARGIN: 10px 0px
}
.wic {
	MARGIN-TOP: 20px
}
