<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <!--数据库访问层配置-->
      <resource uri="assembly://ZhiFang.ObjectFactory.LIIP/ZhiFang.ObjectFactory.LIIP.Config/DaoBase.xml" />
      <resource uri="assembly://ZhiFang.ObjectFactory.LIIP/ZhiFang.ObjectFactory.LIIP.Config/Dao.xml" />
      <!--业务处理层配置-->
      <resource uri="assembly://ZhiFang.ObjectFactory.LIIP/ZhiFang.ObjectFactory.LIIP.Config/BLLBase.xml" />
      <resource uri="assembly://ZhiFang.ObjectFactory.LIIP/ZhiFang.ObjectFactory.LIIP.Config/BLL.xml" />
      <!--契约实现-->
      <resource uri="assembly://ZhiFang.ObjectFactory.LIIP/ZhiFang.ObjectFactory.LIIP.Config/Facade.xml" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
      <!--拦截控制层所有业务操作-->
      <object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.LabInformationIntegratePlatform.*</value>
            <value>ZhiFang.Digitlab.ServiceCommon.*</value>
          </list>
        </property>
      </object>
      <!--数据库升级-->
      <object id="UpdateDataBase" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.RBACService.*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.WXMiniService.*</value>
          </list>
        </property>
      </object>
      <!--身份认证-->
      <object id="ServerInvokeAuthentication" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.SingleTableService.*</value>
            <value>ZhiFang.ConstructionService.*</value>
            <value>ZhiFang.PublicService.*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPService..*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonService.*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.IMService.*</value>
          </list>
        </property>
      </object>
      <!--服务调用日志-->
      <object id="ServerInvokeLog" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.RBACService.*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonService.*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.IMService.*</value>
          </list>
        </property>
      </object>
      <!--安全检查-->
      <object id="ServerInvokeSecurityVerification" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPService..*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonService.*</value>
            <value>ZhiFang.LabInformationIntegratePlatform.ServerWCF.IMService.*</value>
          </list>
        </property>
      </object>
      <!--切面-->
      <object id="UpdateDataBaseAdvice" type="ZhiFang.Interceptor.LIIP.UpdateDataBaseAdvice, ZhiFang.Interceptor.LIIP" singleton="false" />
      <!--登录验证切面-->
      <object id="LoginValidationAdvice" type="ZhiFang.Interceptor.LIIP.LoginValidationAdvice, ZhiFang.Interceptor.LIIP" singleton="false" />
      <object id="ModuleValidationAdvice" type="ZhiFang.Interceptor.LIIP.ModuleValidationAdvice, ZhiFang.Interceptor.LIIP" singleton="false" />
      <!--<object id="ServerInvokeLogAdvice" type="ZhiFang.Interceptor.LIIP.ServerInvokeLogAdvice, ZhiFang.Interceptor.LIIP" singleton="false" />-->
      <object id="AuthenticationFilter" type="ZhiFang.Interceptor.LIIP.AuthenticationFilter, ZhiFang.Interceptor.LIIP" singleton="false" />
      <object id="SecurityVerificationBefore" type="ZhiFang.Interceptor.LIIP.SecurityVerificationBefore, ZhiFang.Interceptor.LIIP" singleton="false" />
      <object id="SecurityVerificationAfter" type="ZhiFang.Interceptor.LIIP.SecurityVerificationAfter, ZhiFang.Interceptor.LIIP" singleton="false" />
      <!--关联切面-->
      <aop:config>
        <aop:advisor pointcut-ref="ServerInvokeAuthentication" advice-ref="AuthenticationFilter"/>
        <aop:advisor pointcut-ref="ServerInvokeSecurityVerification" advice-ref="SecurityVerificationBefore"/>
        <aop:advisor pointcut-ref="UpdateDataBase" advice-ref="UpdateDataBaseAdvice" />
        <!--<aop:advisor pointcut-ref="ServerInvokeSecurityVerification" advice-ref="SecurityVerificationAfter"/>-->
        <!--<aop:advisor pointcut-ref="ServerInvokeLog" advice-ref="ServerInvokeLogAdvice" />-->
        <!--<aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="LoginValidationAdvice"/>-->
        <!--<aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="ModuleValidationAdvice"/>-->
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="LogAdvice"/>-->
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="BeforeAdvice"/>-->
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="AfterAdvice"/>-->
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="ExceptAdvice"/>-->
      </aop:config>
    </objects>
  </spring>
  <!--数据库连接字符串-->
  <databaseSettings>
    <!--.\SQLEXPRESS-->
    <add key="db.provider" value="SqlServer-2.0" />
    <add key="db.connectionString" value="Server=APOLLO;database=ZhiFang.LIIP;uid=sa;pwd=sasa;" />
    <!--<add key="db.connectionString" value="Server=APOLLO;database=ZhiFang.LIIP.songjiang;uid=sa;pwd=sasa;" />-->
    <!--<add key="db.connectionString" value="Server=192.168.31.107;database=ZhiFang.LIIP_liuzhou;uid=sa;pwd=zhifang@123;" />-->
    <!--<add key="db.connectionString" value="Server=192.168.31.107;database=ZhiFang.LIIP_SiChuanDaJia;uid=sa;pwd=zhifang@123;" />-->
    <add key="db.driver_class" value="NHibernate.Driver.SqlClientDriver" />
    <add key="db.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
    <add key="hbm2ddl.auto" value="update" />
  </databaseSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Spring.Data.NHibernate.Support.SessionScope.SessionFactoryObjectName" value="NHibernateSessionFactory" />
    <add key="vs:EnableBrowseLink" value="false" />
    <!--是否开启HIS接口用户密码验证，0否，1是-->
    <add key="ZF_LIIP_CheckAccountPWDByHIS" value="1" />
    <!--HIS接口用户密码验证地址-->
    <add key="ZF_LIIP_CheckAccountPWDByHIS_Url" value="http://localhost/INFTEST/WebService/LIS.asmx/SendPanicMsg" />
    <!--HIS接口第三方消息接收-->
    <add key="ZF_LIIP_SendMSGToHISInterface_Url" value="http://localhost/LisInterface2020_HJZX/WebService/LIS3.ashx" />
    <!--HIS接口第三方消息接收消息类型-->
    <add key="ZF_LIIP_SendToHISInterface_MsgTypeCode" value="ZF_LAB_START_REPORT_DELAY" />
    <!--是否验证消息处理者必须属于消息接收部门，0否，1是-->
    <add key="ZF_LIIP_CheckMsgHandlerToMsgReDept" value="1" />
    <!--是否开启多机构，0否，1是-->
    <add key="IsMultiLabFlag" value="1" />
    <!--开启多机构状态下，组织机构是否进行机构隔离，0否，1是-->
    <add key="RBACIsMultiLabFlag" value="0" />
    <!--开启多机构状态下，人员所属医院未设置,是否取账户所属LabId，0否，1是-->
    <add key="IsSetLabFlagByAccount" value="0" />
    <!--微信小程序配置开始-->
    <!--wxmini_appid-->
    <add key="wxmini_appid" value="wx5166f986417c2d57" />
    <!--wxmini_secret-->
    <add key="wxmini_secret" value="d8463fcb41d446b74a48f16120fa862a" />
    <!--微信小程序配置结束-->
    <!--登录验证码-->
    <!--验证码错误最大数-->
    <add key="MaxValidateErrorCount" value="10" />
    <!--验证码错误最大数,触发锁定时间(秒)-->
    <add key="MaxValidateErrorCountStopSecond" value="300" />
    <!--登录验证码-->
    <!--珠海定制-->
    <add key="APP_ID" value="7df8f1d3c8134ac5b26507fab8f495cc" />
    <add key="APP_KEY" value="056ebf9283794947ae85be40f5a9197f" />
    <add key="APP_SECRET" value="743E2C2656B940878F8DB5F135458918" />
    <add key="GetTicket_Url" value="https://gdzhwjtest.city.pingan.com/openapi/auth/ticket" />
    <add key="RefreshTicket_Url" value="https://gdzhwjtest.city.pingan.com/openapi/auth/refresh" />
    <add key="GetUserInfoByVerifyCode_Url" value="https://gdzhwjtest.city.pingan.com/openapi/sso/code/userInfo" />
    <add key="GetALLHospital_Url" value="https://gdzhwjtest.city.pingan.com/openapi/console/tenant/infos" />
    <add key="GetEmpByHospitalCode_Url" value="https://gdzhwjtest.city.pingan.com/openapi/bs/employee/infos" />
    <add key="GetUserByHospitalCode_Url" value="https://gdzhwjtest.city.pingan.com/openapi/console/user/info" />
    <add key="ZhuHai_Sign_Url" value="http://localhost:8081/sign" />
    <add key="ZhuHai_Decode_Url" value="http://localhost:8081/decode" />
    <add key="ZhuHai_Encode_Url" value="http://localhost:8081/encode" />
    <!--珠海定制-->
  </appSettings>
  <connectionStrings>
    <add name="DBConnection_LabStarV6" connectionString="user id=sa;password=admin123;data source=.;initial catalog=digitlab; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
    <add name="DBConnection_QMS" connectionString="user id=sa;password=admin123;data source=.;initial catalog=zhifang_gene_nuohui; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.7.1" requestValidationMode="2.0" maxQueryStringLength="102400" maxRequestLength="409600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ZhiFang.RBACService">
        <endpoint address="" behaviorConfiguration="ZhiFang.RBACServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.ServerContract.IRBACService" />
      </service>
      <service name="ZhiFang.ConstructionService">
        <endpoint address="" behaviorConfiguration="ZhiFang.ConstructionServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.ServerContract.IConstructionService" />
      </service>
      <service name="ZhiFang.SingleTableService">
        <endpoint address="" behaviorConfiguration="ZhiFang.SingleTableServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.ServerContract.ISingleTableService" />
      </service>
      <service name="ZhiFang.PublicService">
        <endpoint address="" behaviorConfiguration="ZhiFang.PublicServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.ServerContract.IPublicService" />
      </service>
      <service name="ZhiFang.CommonService">
        <endpoint address="" behaviorConfiguration="ZhiFang.CommonServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.ServerContract.ICommonService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.IMService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.IMServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerContract.IIMService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerContract.ILIIPService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerWCF.ILIIPCommonService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.RBACCloneService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.RBACCloneService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.SystemCacheService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.SystemCacheService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.LISCommonWCF.MsgCommonService.MsgCommonService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.LISCommonWCF.MsgCommonService.MsgCommonServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.LISCommonWCF.MsgCommonService.IMsgCommonService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.WXService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.WXServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerContract.IWXService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.DicReceiveService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.DicReceiveServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerContract.Customization.IDicReceiveService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.WXMiniService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.RBACService_WXMiniAspNetAjaxBehavior"
          binding="webHttpBinding" bindingConfiguration="weixinmini" contract="ZhiFang.LabInformationIntegratePlatform.ServerContract.IWXMiniService" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.RBACService_ZhuHai">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.RBACService_ZhuHaiAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerContract.Customization.IRBACService_ZhuHai" />
      </service>
      <service name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPStaticService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPStaticServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.LabInformationIntegratePlatform.ServerContract.ILIIPStaticService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ZhiFang.RBACServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ConstructionServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.SingleTableServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.PublicServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.CommonServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Service1AspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.Service1AspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.IMServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPCommonServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.LISCommonWCF.MsgCommonService.MsgCommonServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.WXServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.DicReceiveServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.RBACService_WXMiniAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.Customization.RBACService_ZhuHaiAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.LabInformationIntegratePlatform.ServerWCF.LIIPStaticServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="UserApiSoap">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ZFClientServiceSoap">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true" maxBufferSize="2147483647" maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647" />
        <binding name="ReagentService">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="weixinmini" closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true" maxBufferSize="2147483647" maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="WcfReadEntityBodyModeWorkaroundModule" type="ZhiFang.LabInformationIntegratePlatform.HttpModule.WcfReadEntityBodyModeWorkaroundModule, ZhiFang.LabInformationIntegratePlatform" />
    </modules>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".svc" mimeType="application/json;charset=UTF-8" />
      <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="102400" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
</configuration>