<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    <!--oracle要和应用程序池统一，32位对应32位，64位对应64位，应用程序池否则会报错，重复的配置节点-->
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <resource uri="assembly://ZhiFang.ReportFormQueryPrint.ObjectFactory/ZhiFang.ReportFormQueryPrint.ObjectFactory.Config/Facade.xml" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
      <object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.ReportFormQueryPrint.ServiceWCF.*</value>
          </list>
        </property>
      </object>
      <object id="BeforeAdvice" type="ZhiFang.ReportFormQueryPrint.Interceptor.BeforeAdvice, ZhiFang.ReportFormQueryPrint.Interceptor" singleton="false" />
      <object id="AfterAdvice" type="ZhiFang.ReportFormQueryPrint.Interceptor.AfterReturningAdvice, ZhiFang.ReportFormQueryPrint.Interceptor" singleton="false" />
      <object id="ExceptAdvice" type="ZhiFang.ReportFormQueryPrint.Interceptor.ExceptAdvice, ZhiFang.ReportFormQueryPrint.Interceptor" singleton="false" />
      <aop:config>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="BeforeAdvice" />
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="AfterAdvice" />
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="ExceptAdvice" />-->
      </aop:config>
    </objects>
  </spring>
  <appSettings>
    <!--数据工厂类参数-->
    <!--<add key="DBSourceType" value="ZhiFang.ReportFormQueryPrint.DAL.MSSQL.MSSQL2009"/>-->
    <!--<add key="DBSourceType" value="ZhiFang.ReportFormQueryPrint.DAL.MSSQL.MSSQL66"></add>-->
    <add key="DBSourceType" value="ZhiFang.ReportFormQueryPrint.DAL.MSSQL.ReportCenter">
    </add>
    <!--<add key="DBSourceType" value="DAL.ORACLE66"></add>-->
    <!--<add key="DBSourceType" value="ZhiFang.ReportFormQueryPrint.DAL.MSSQL.WebLis"></add>-->
    <!--数据库连接字符串-->
    <add key="ReportFormQueryPrintConnectionString" value="data source=.;user id=sa;password=sasa;initial catalog=ZhiFang_Digitlab_Report" />
    <!--<add key="ReportFormQueryPrintConnectionString" value="data source=.;user id=sa;password=admin123;initial catalog=ZhiFang_Digitlab_Report"/>-->
    <add key="HistoryConnectionString" value="data source=192.168.1.1;user id=sa;password=admin123;initial catalog=digitlab" />
    <add key="BackupsConnectionString" value="data source=.;user id=sa;password=admin123;initial catalog=digitlab" />
	<!--LabStarConnectionString：新检验之星数据库连接-->
    <add key="LabStarConnectionString" value="data source=.;user id=sa;password=admin123;initial catalog=LabStar" />
    <add key="HISOrcaleConnectionString" value="Data Source=10.10.66.80/zrhisora;User ID=hisinterface;Password=his" />
	<!--LISConnectionString：LIS数据库连接-->  
    <add key="LISConnectionString" value="data source=.;user id=sa;password=admin123;initial catalog=digitlab" />
    <!--向lis同步打印次数 0不同步，1同步-->
    <add key="IsLisAddPrintTime" value="0" />
    <!--向框架微生物同步打印次数 0不同步，1同步，2同步（针对邢台市人民医院）-->
    <add key="IsMEGroupSampleFormAddPrintTime" value="0" />
    <!--静态账号 自定义配置即可-->
    <add key="StaticUserNo" value="123123" />
	<!--自助打印定制调用第三方接口--> 
    <add key="SelfHelpGetWhereURL" value="http://10.101.2.184:4431/main/getInfoByQrCode" />
    <!--对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="120" />
    <!--Session间（分钟）-->
    <add key="SessionCacheTime" value="120" />
    <!--报告内图片存放路径URL-->
    <add key="ReportFormImagesURL" value="FormImages/" />
    <!--访问服务的MD5秘钥-->
    <add key="MD5Key_wuzhoufubao" value="123456" />
    <!--报告内签名、logo等图片存放路径URL-->
    <add key="ReportFormImagesOtherURL" value="FormImages/Other" />
    <!--存放XSL模板路径-->
    <add key="ModelCreatURL" value="XSL/Creat" />
    <!--存放XSL显示模板路径-->
    <add key="ModelShowURL" value="XSL/Show" />
    <!--应用程序虚拟目录(如是网站则填写"/")-->
    <add key="LocalhostURL" value="/ZhiFang.ReportFormQueryPrint/" />
    <!--存放显示模板的XML配置路径-->
    <add key="XmlConfig" value="XmlConfig/ReportFromShowXslConfig.xml" />
    <!--存放查询数据列表显示的XML配置路径-->
    <add key="PrintDataListConfig" value="XmlConfig/PrintDataListConfig.xml" />
    <!--电子签名图片存放路径URL-->
    <add key="UserImagesURL" value="FormImages/UserImages" />
    <!--微生物顶端步骤ID(细菌培养、细菌鉴定、药敏试验)-->
    <add key="TopMicroStepId" value="1,2,3" />
    <!--查询界面报告单列表是否弹出医嘱项目0否1是-->
    <add key="ReportListPatItemShowFlag" value="0" />
    <!--Weblis中心实验室名称-->
    <add key="CenterName" value="上海兰卫临床检验中心" />
    <!--报告图片格式-->
    <add key="ReportFormImageType" value="JPEG" />
    <!--报告图片精度-->
    <add key="JpegQuality" value="100" />
    <!--默认报告查询条件日期相对当前日期的提前数如：当前时间为"2012-07-21"如果查询区间为"2012-07-19"到"2012-07-21"则配置为-2-->
    <add key="SearchBeforeDayNum" value="-2" />
    <!--报告单列表最大数限制-->
    <add key="SearchReportFormLimit" value="10000" />
    <!--是否读取Weblis数据条件：0否，1是。-->
    <add key="WeblisDBSQLFlag" value="0" />
    <!--报告图片临时存放路径-->
    <add key="ReportFormImageDir" value="TmpReportImagePath" />
    <!--html存放路径URL-->
    <!--add key="ReporthtmlURL" value="ReporthtmlFiles/"/-->
    <!-- 报表包含图片路径 -->
    <add key="ReportIncludeImage" value="D:\project\ljjPJ\TFS_产品\82-Weblis服务\产品通用\WebLisSXTY\WebLis\ReportFormImage" />
    <!--禁用BrowserLink-->
    <add key="vs:EnableBrowserLink" value="false" />
    <!--查询RFGraphData数据时要过滤的PointType类型;例：过滤掉PointType为7和8的，则 value的格式为7,8-->
    <add key="PointType" value="8" />
	<!--生成pdf报告时是否使用frx模板，0为不使用则需要对应文件夹里有自己生成好的PDF，1为使用-->
	<add key="IsUseFrxGeneratePDF" value="1" />
	<!--贵黔医院报告库第三方报告直接生成的pdf文件，多份时需要合并，0代表不使用此功能，1代表使用此功能-->
	<add key="IsUseMergePDF" value="0" />
	<!--是否记录站点信息：0不记录，1记录-->
	<add key="IsAddSiteInfoRecord" value="0" />
    <!--查询功能SelectReport的请求间隔时间（毫秒），即下方配置时间内请求超过一定次数则返回空数据-->
    <add key="SelectReportMillSecond" value="1000" />
    <!--访问共享盘的账号（宁波第一医院）-->
    <add key="UserName" value="lis" />
    <!--访问共享盘的密码（宁波第一医院）-->
    <add key="PassWord" value="lis" />
    <!--访问共享盘的ip（宁波第一医院）-->
    <add key="ShareIP" value="192.168.41.8" />
    <!--访问共享盘的共享文件夹（宁波第一医院）-->
    <add key="ShareDirectory" value="\\192.168.41.8\lis\" />
    <!--特定小组出现某些特殊项目号则直接取外送报告pdf-->
    <add key="SpecialSectionNo" value="123" />
    <!--出现某些特殊项目号则直接取外送报告pdf，用逗号隔开-->
    <add key="SpecialItemNo" value="123,456" />
    <!--马鞍山中心医院-->  
	<add key="CodeName" value="PatNo,SerialNo" />
	<!--马鞍山中心医院-->
	<add key="sicktypeno" value="2,3" />
	<!--中日医院血糖检测配置-->
	<add key="BloodGlucoseTestingConfiguration" value="0" />
    <!--技师站是否需要开启LabId-->
	<add key="LabStarIsNeedLabId" value="0" />
    <!--技师站程序地址-->
    <add key="LabStarUrl" value="http://localhost/ZhiFang.LabStar.TechnicianStation" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" maxQueryStringLength="2097151" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="" name="ZhiFang.ReportFormQueryPrint.ServiceWCF.ReportFormService">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ReportFormServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServerContract.IReportFormService" />
      </service>
      <service name="ZhiFang.ReportFormQueryPrint.ServiceWCF.DictionaryService">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ServiceWCF.DictionaryServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServerContract.IDictionaryService" />
      </service>
      <service name="ZhiFang.ReportFormQueryPrint.ServiceWCF.ServiceTest">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ServiceWCF.ServiceTestAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServerContract.IServiceTest" />
      </service>
      <service name="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.beijingwuzhoufubao">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.beijingwuzhoufubaoAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.beijingwuzhoufubao" />
      </service>
      <service name="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.neijiangdongqurenminyiyuan">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.neijiangdongqurenminyiyuanAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.neijiangdongqurenminyiyuan" />
      </service>
      <service behaviorConfiguration="" name="ZhiFang.ReportFormQueryPrint.ServiceWCF.ReportFormBackupsService">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ReportFormBackupsServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServerContract.IReportFormBackupsService" />
      </service>
      <service behaviorConfiguration="" name="ZhiFang.ReportFormQueryPrint.ServiceWCF.ReportFormHistoryService">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ReportFormHistoryServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServerContract.IReportFormHistoryService" />
      </service>
      <service name="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.ReportFormPDFStream">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.ReportFormPDFStreamAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.ReportFormPDFStream" />
      </service>
      <service name="ZhiFang.ReportFormQueryPrint.ServiceWCF.LabStarService">
        <endpoint address="" behaviorConfiguration="ZhiFang.ReportFormQueryPrint.ServiceWCF.LabStarServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.ReportFormQueryPrint.ServiceWCF.LabStarService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ZhiFang.ReportFormQueryPrint.ReportFormServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ServiceWCF.DictionaryServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ServiceWCF.ServiceTestAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.beijingwuzhoufubaoAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.neijiangdongqurenminyiyuanAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ReportFormBackupsServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ReportFormHistoryServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ServiceWCF.Customization.ReportFormPDFStreamAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.ReportFormQueryPrint.ServiceWCF.LabStarServiceAspNetAjaxBehavior">
		    <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true" maxBufferSize="2147483647" maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <!--最大允许请求长度,单位byte,当前限制为1G-->
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="2097151">
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>