<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZhiFang.WebLis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="DBSourceType" value="ZhiFang.DAL.Oracle.weblis"/>-->
    <add key="DBSourceType" value="ZhiFang.DAL.MsSql.Weblis" />
    <add key="HisDBSourceType" value="ZhiFang.DAL.Interface" />
    <add key="ZhiFang.IBLL.Interface" value="ZhiFang.BLL.Interface" />
    <add key="ZhiFang.IBLL.SampleTrack" value="ZhiFang.BLL.SampleTrack" />
    <add key="ZhiFang.IBLL.Common" value="ZhiFang.BLL.Common" />
    <add key="ZhiFang.IBLL.Report" value="ZhiFang.BLL.Report" />
    <!--创建报告路径成功路径及名称-->
    <add key="CombiItem" value="组套定制" />
    <!--创建报告路径成功路径及名称-->
    <add key="create_successful" value="E:\ReportFormImage\ReportFile" />
    <!--其他盘符报告图片地址-->
    <add key="ReportFile" value="http://localhost/img/ReportFile/" />
    <!--小组模版设置使用的编码a 0是B_Lab_PGroup 1是PGroup -->
    <add key="SectionNo" value="" />
    <!--6.6FormNo  0不启用 1启用（6.6）-->
    <add key="LinSFormNo" value="0" />
    <!--对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="120" />
    <!--数据库表对应字段用“；”分隔字段名称-->
    <add key="MapColumnName" value="clientzdy3=中心编码;SERIALNO=条码号;NOperDate=检查日期;PATNO=档案号;CNAME=姓名;GENDERNAME=性别;AGE=年龄;TESTITEMENAME=英文名称;HISORDERNO=项目编码;REPORTVALUEALL=结果;&#xD;&#xA;         &#xD;&#xA;&#xD;&#xA;UNIT=单位;REFRANGE=参考范围;RESULTSTATUS=提示;TECHNICIAN=检验项目结果" />
    <!--Session间（分钟）-->
    <add key="SessionCacheTime" value="120" />
    <!--报告内图片存放路径URL-->
    <add key="ReportFormImagesURL" value="FormImages/" />
    <!--存放XSL模板路径-->
    <!--<add key="XSLModelURL" value="XSL\Creat_CeShi"/>-->
    <!--默认-->
    <add key="XSLModelURL" value="XSL\Creat" />
    <!--谢鑫-->
    <!--存放XSL显示模板路径-->
    <add key="XSLModelShowURL" value="XSL/Show" />
    <!--应用程序虚拟目录(如是网站则填写"/")-->
    <add key="LocalhostURL" value="/weblis/" />
    <!--存放显示模板的XML配置路径-->
    <add key="XmlConfig" value="XmlConfig/ReportFromShowXslConfig.xml" />
    <!--存放查询数据列表显示的XML配置路径-->
    <add key="PrintDataListConfig" value="XmlConfig/PrintDataListConfig.xml" />
    <!--电子签名图片存放路径URL-->
    <add key="UserImagesURL" value="FormImages/UserImages" />
    <!--查询界面报告单列表是否弹出医嘱项目0否1是-->
    <add key="ReportListPatItemShowFlag" value="0" />
    <!--Weblis中心实验室名称-->
    <add key="CenterName" value="上海兰卫临床检验中心" />
    <!--报告图片格式-->
    <add key="ReportFormFileType" value="PDF" />
    <!--<add key="ReportFormFileType" value="JPG"/>-->
    <!--报告图片精度-->
    <add key="JpegQuality" value="100" />
    <!--是否读取Weblis数据条件：0否，1是。-->
    <add key="WeblisDBSQLFlag" value="0" />
    <!--报告图片临时存放路径-->
    <add key="ReportFormFilesDir" value="TmpReportImagePath" />
    <!--html存放路径URL-->
    <!--add key="ReporthtmlURL" value="ReporthtmlFiles/"/-->
    <add key="URLValue" value="http://localhost//Weblis//" />
    <!-- 报告包含图片路径 -->
    <add key="ReportIncludeImage" value="D:\web\ciclab\WebLis(2015-04-16)\ReportFormImage" />
    <!--<add key="ReportIncludeImage" value="D:\源代码\1-产品目录\92-检验之星8\WebLis\WebLis\ReportFormImage" />-->
    <!--条码号上的送检单位编号索引开始位置、长度-->
    <add key="InputBarCde_Client_Index" value="0,3" />
    <!--是否调用打印模版显示:0表示不需要，1表示需要-->
    <add key="Template" value="1" />
    <!--打印清单配置-->
    <add key="OrderPrintPara" value="ui\order\OrderPrintPara.txt" />
    <!-- 公司名称 -->
    <add key="CompanyName" value="四川大家实验室" />
    <!--申请录入是否默认客户0不默认1默认-->
    <add key="DefaultClientFlag" value="0" />
    <!--管理员 如 1001-->
    <add key="SuperAccount" value="1001" />
    <!--分页功能：每页显示多少条记录(字典)-->
    <add key="PageSize" value="15" />
    <!--实验室列表来源参数配置：0表示来源于Department表；1表示来源于权限系统；2表示来源 于CLIENTELE表-->
    <add key="LabsFromFlag" value="2" />
    <!--默认报告查询条件日期相对当前日期的提前数如：当前时间为"2012-07-21"如果查询区间为"2012-07-19"到"2012-07-21"则配置为-2-->
    <add key="SearchBeforeDayNum" value="-2" />
    <!--模板类型fr3或frx-->
    <add key="modelType" value="frx" />
    <!--是否调用财务系统的服务:0表示不需要，1表示需要-->
    <add key="IsHasService" value="0" />
    <!--存放对账单表的路径-->
    <add key="ExcelPath" value="E:\" />
    <!--存放结果导出模板的路径-->
    <add key="ItemShowExcel" value="ResultForExcel" />
    <!--Excel的存放路径-->
    <add key="SaveExcel" value="ExcelFile" />
    <!--xml的存放路径-->
    <add key="xmlPath" value="TmpXmlPath" />
    <!--存放显示模板的XML配置路径-->
    <add key="ItemXmlConfig" value="XmlConfig/ApplyInputItemList.xml" />
    <!--需要转码的字段-->
    <add key="TransCodField" value="PARITEMNO;SAMPLETYPENO" />
    <!--上传申请选择哪种时间 1为OperDate其他CollectDate-->
    <add key="CPdate" value="1" />
    <!--申请录入项目颜色表 单项;组合,组合细项;组套,组套细项-->
    <add key="ApplyColor" value="NO;NO,NO;#006699,NO" />
    <!--申请录入分页 1启用-->
    <add key="Web_paging" value="1" />
    <!--郑州海普实验室条码号规则99YYMMDD0001-->
    <!--<add key="weblisbarcode" value="99" />-->
    <!--weblis佛山项目，隐藏左侧菜单树，0否（不隐藏）1是(隐藏)-->
    <add key="HideTree" value="0" />
    <!--是否上传程序生成报告0否 1是-->
    <add key="isUpLoadGeneReport" value="1" />
    <!--TmpReportImagePath文件夹里面是否加个report文件 1表示加；0表示不加-->
    <add key="isUpLoadReport" value="1" />
    <!--是否是新版本weblisService  1是 0否-->
    <add key="IsNewWeblisService" value="0" />

    <!--报告查询返回的最大记录数-->
    <add key="ReportSelMaxNum" value="5000" />
    <!--报告合并模板的类型-->
    <add key="MergeModelType" value="frx" />

    <!--合并报告是否取接检单位作为抬头(true:取接检单位抬头 false:取中心抬头)-->
    <add key="InnerReportTitleFlag" value="true" />
    <!--中心抬头-->
    <add key="CenterTitle" value="合并中心抬头测试" />
    <!--报告查询外设条件-->
    <add key="ReportFormFullSearchSql" value=" " />
    <!--报告查询模糊匹配字段-->
    <add key="LIKESEARCH" value="1" />
    <!--结果查看和报告打印预览后进行打印次数增加开关：0关、1开-->
    <add key="ExportResultAddPrintCountFlag" value="0" />
    <!--修改申请单信息时，是否修改条码信息和项目信息：0修改（默认）、1不修改-->
    <add key="NRequestFormEidtType" value="0" />
    <!--申请单录入（在线打印条码）条码单是否保存组套项目：0否、1是，默认否。-->
    <add key="BarCodeFormItemIsCombiItem" value="1" />
    <!--申请单录入（在线打印条码）申请项目是否保存组套项目：0否、1是，默认否。-->
    <add key="NRequestItemSaveCombiItem" value="1" />
    <!--申请单录入（在线打印条码）条码生成规则年月日格式默认"yyMMdd"-->
    <add key="BarCodeDateFormat" value="yMMdd" />
    <!--申请单录入（在线打印条码）条码生成规则LabCode长度默认：3-->
    <add key="BarCodeLabCodeLength" value="2" />
    <!--申请单录入（在线打印条码）条码生成规则LabCode部位字符默认：0-->
    <add key="BarCodeLabCodePlaceStr" value="A" />
    <!--集成平台地址-->
    <add key="ZhiFangLIIPUrl" value="http://localhost/ZhiFang.LabInformationIntegratePlatform" />
    <!--申请单列表、外送清单扩展sql-->
    <add key="NRequestFormListOtherSQL" value="" />
    <!--WebLis是否包含RMS系统0：不包含，1：包含-->
    <add key="WebLisInCluderRMS" value="1" />
    <!--WebLis管理员用户名-->
    <add key="adminaccount" value="zhifangkj8001" />
    <!--WebLis管理员密码-->
    <add key="adminpwd" value="zhifangkj8001" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="WebLisDB" connectionString="user id=sa;password=longfuchu;data source=.\MSSQLSERVER2012;initial catalog=weblis.2012_ItemNoInt; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
    <add name="LisDB" connectionString="user id=sa;password=sasa;data source=APOLLO;initial catalog=weblis; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
    <add name="CaiWuDB" connectionString="user id=sa;password=sasa;data source=APOLLO;initial catalog=weblis; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
    <add name="RMSDB" connectionString="user id=sa;password=sasa;data source=APOLLO;initial catalog=RMSDB_GS; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <pages viewStateEncryptionMode="Never" enableViewStateMac="false" enableEventValidation="false"></pages>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--<httpHandlers>
	  <remove verb="*" path="*.asmx"/>
		<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
    </httpHandlers>-->
    <!--Off|InProc|StateServer-->
    <sessionState mode="InProc" cookieless="false" timeout="60" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" stateNetworkTimeout="120" />
    <httpRuntime maxRequestLength="2097151" maxQueryStringLength="200000" />
    <!--<identity impersonate="true" />-->
    <!--<processModel enable="true"/>-->
  </system.web>

  <system.webServer>
    
    <handlers>
      <!--<add name="ajaxpro" path="ajaxpro/*.ashx" verb="POST,GET" type="AjaxPro.AjaxHandlerFactory,AjaxPro" />-->
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!-- Register the managed module -->
      <add name="WcfReadEntityBodyModeWorkaroundModule" type="ZhiFang.WebLis.Class.WcfReadEntityBodyModeWorkaroundModule, ZhiFang.WebLis" />
    </modules>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/json; charset=UTF-8" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" showFlags="None" />
    <security>
      <requestFiltering>
        <!--上传文件大小100M-->
        <requestLimits maxAllowedContentLength="100000000" maxQueryString="2147483647"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <applicationSettings>
    <ZhiFang.WebLis.Properties.Settings>
      <setting name="ZhiFang_WebLis_ReportUploadService_WebLisReport" serializeAs="String">
        <value>http://localhost/WebLisClientService/WebService/WebLisReport.asmx</value>
      </setting>
      <setting name="ZhiFang_WebLis_GetXml_SingleLoginWS" serializeAs="String">
        <value>http://192.168.0.133/APYWebsitCW2/WebService/SingleLoginWS.asmx</value>
      </setting>
      <setting name="ZhiFang_WebLis_SingleLogin_SingleLoginWS" serializeAs="String">
        <value>http://192.168.0.133/APYWebsitCW2/WebService/SingleLoginWS.asmx</value>
      </setting>
      <setting name="ZhiFang_WebLis_WSRBAC_WSRbac" serializeAs="String">
        <value>http://localhost/RMS/WebService/WSRbac.asmx</value>
      </setting>
    </ZhiFang.WebLis.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ZhiFang.WebLis.ServiceWCF.AspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.WebLis.ServiceWCF.StatisticsServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.WebLis.ServiceWCF.NewsServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ZhiFang.WebLis.ServiceWCF.TestServicebehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ZhiFang.WebLis.ServiceWCF.PubliserServicebehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ZhiFang.WebLis.ServiceWCF.RBACService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.AspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServerContract.IRBACService" />
      </service>
      <service name="ZhiFang.WebLis.ServiceWCF.PrintService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.AspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServerContract.IPrintService" />
      </service>
      <service name="ZhiFang.WebLis.ServiceWCF.DictionaryService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.AspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServerContract.IDictionaryService" />
      </service>
      <service name="ZhiFang.WebLis.ServiceWCF.NRequestFromService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.AspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServerContract.INRequestFromService" />
      </service>
      <service name="ZhiFang.WebLis.ServiceWCF.ReportFromService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.AspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServerContract.IReportFromService" />
      </service>
      <service name="ZhiFang.WebLis.ServiceWCF.PublisherEvent">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.AspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServerContract.IPublisherEvents" />
      </service>
      <service behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.TestServicebehavior" name="ZhiFang.WebLis.ServiceWCF.TestService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="PortSharingBinding" contract="ZhiFang.WebLis.ServerContract.ITestService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/WebLis/ServiceWCF/TestService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.PubliserServicebehavior" name="ZhiFang.WebLis.ServiceWCF.PubliserService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="PortSharingBindingaaa" contract="ZhiFang.WebLis.ServerContract.IPubliserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/WebLis/ServiceWCF/PubliserService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ZhiFang.WebLis.ServiceWCF.StatisticsService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.StatisticsServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServiceWCF.StatisticsService" />
      </service>
      <service name="ZhiFang.WebLis.ServiceWCF.NewsService">
        <endpoint address="" behaviorConfiguration="ZhiFang.WebLis.ServiceWCF.NewsServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.WebLis.ServerContract.INewsService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="PortSharingBinding" portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="PortSharingBindingaaa" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true" maxBufferSize="2147483647" maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647">
          <!--<security mode="Transport">
             <transport clientCredentialType="None"></transport>
          </security>-->

        </binding>
      </webHttpBinding>
    </bindings>
    <client />
  </system.serviceModel>
</configuration>
