<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>测试页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" type="text/css" href="../../extjs/resources/css/ext-all.css"/>    
    <script type="text/javascript" src="../../extjs/bootstrap.js"></script>
    <script type="text/javascript" src="../../extjs/locale/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../util/util.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
    
    <script type="text/javascript" src="datetime.js"></script>
	
</head>
<body>
</body>
</html>