@CHARSET "UTF-8";
/*鼠标箭头变小手*/
.hand {cursor: pointer;}
/*附件按钮*/
.button-attachment {
	height:16px;width:16px;
	background-image: url('images/buttons2/attachment.png') !important;}
/*附件按钮-隐藏*/
.button-attachment-hide {
	height:16px;width:16px;
	background-image: url('images/buttons2/attachment-hide.png') !important;}
	
/*任务按钮*/
.button-task {
	height:16px;width:16px;
	background-image: url('images/buttons2/task.png') !important;}
/*任务按钮-新增*/
.button-task-add {
	height:16px;width:16px;
	background-image: url('images/buttons2/task_add.png') !important;}