.Diy-mask {
	opacity: 0.5;//chrome
	z-index: 100;
	filter:alpha(opacity=50);//IE必须加这句
	-moz-opacity: 0.5;//火狐
}
.Interaction_Div_Left{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Left span {
	font-weight: bold;
	font-size:10px;
	padding:10px;
}
.Interaction_Div_Left img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: left;
	margin:5px;
}
.Interaction_Div_Left div {
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding:10px;
	margin:5px;
	margin-left:40px;
	margin-right:20%;
}
.Interaction_Div_Right{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Right img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: right;
	margin:5px;
}
.Interaction_Div_Right div {
	border-radius: 5px;
	background: #BFFEBF;
	border: 1px solid #BFFEBF;
	padding:10px;
	margin:5px;
	/*margin-top:20px;*/
	margin-right:40px;
	margin-left:20%;
}

/**/
.Interaction_Div_Left{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Left_Name {
	font-weight: bold;
	font-size:10px;
	padding:10px;
}
.Interaction_Div_Left_Img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: left;
	margin:5px;
}
.Interaction_Div_Left_Content {
	border-radius: 5px;
	background: #E0E0E0;
	border: 1px solid #E0E0E0;
	padding:10px;
	margin:5px;
	margin-left:40px;
	margin-right:20%;
}
.Interaction_Div_Right{
	margin:10px 5px;
	font-family:'Open Sans';
	font-size:12px;
	/*color:#393939;*/
	/*border: 1px solid #E0E0E0;*/
}
.Interaction_Div_Right_Img {
	width:32px;
	height:32px;
	border-radius: 5px;
	float: right;
	margin:5px;
}
.Interaction_Div_Right_Content {
	border-radius: 5px;
	background: #BFFEBF;
	border: 1px solid #BFFEBF;
	padding:10px;
	margin:5px;
	/*margin-top:20px;*/
	margin-right:40px;
	margin-left:20%;
}