<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOAL" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18080/Design_Time_Addresses/OALicenceServer/OAL/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOAL"
                contract="OALSR.IOAL" name="BasicHttpBinding_IOAL" />
        </client>
    </system.serviceModel>
</configuration>