<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <!--spring配置-->
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects"/>
      <!--数据库访问层配置-->
      <resource uri="assembly://UnitTestLabStar/UnitTestLabStar.Config/DaoBase.xml"/>
      <resource uri="assembly://UnitTestLabStar/UnitTestLabStar.Config/Dao.xml"/>
      <!--业务处理层配置-->
      <resource uri="assembly://UnitTestLabStar/UnitTestLabStar.Config/ServiceBase.xml"/>
      <resource uri="assembly://UnitTestLabStar/UnitTestLabStar.Config/Service.xml"/>
      <!--契约实现-->
      <!--
      <resource uri="assembly://UnitTestLabStar/UnitTestLabStar.Config/Facade.xml"/>-->
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
      <!--拦截控制层所有业务操作-->
      <!--
      <object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>           
          </list>
        </property>
      </object>-->
      <!--数据库升级-->
      <object id="UpdateDataBase" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.RBACService.*</value>
          </list>
        </property>
      </object>
      <!--拦截服务层所有业务操作-->
      <object id="LoginValidationOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.SingleTableService.*</value>
            <value>ZhiFang.ConstructionService.*</value>
            <value>ZhiFang.PublicService.*</value>
          </list>
        </property>
      </object>
      <!--切面-->
      <object id="UpdateDataBaseAdvice" type="ZhiFang.WebLis.Interceptor.UpdateDataBaseAdvice, ZhiFang.WebLis.Interceptor" singleton="false"/>
      <!--登录验证切面-->
      <!--<object id="LoginValidationAdvice" type="ZhiFang.WebLis.Interceptor.LoginValidationAdvice, ZhiFang.WebLis.Interceptor" singleton="false" />
      <object id="ModuleValidationAdvice" type="ZhiFang.WebLis.Interceptor.ModuleValidationAdvice, ZhiFang.WebLis.Interceptor" singleton="false" />-->
      <!--关联切面-->
      <aop:config>
        <aop:advisor pointcut-ref="UpdateDataBase" advice-ref="UpdateDataBaseAdvice"/>
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="LogAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="BeforeAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="AfterAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="ExceptAdvice"/>-->
        <!--<aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="LoginValidationAdvice"/>
        <aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="ModuleValidationAdvice"/>-->
      </aop:config>
    </objects>
  </spring>
  <!--数据库连接字符串-->
  <databaseSettings>
    <!--.\SQLEXPRESS-->
    <add key="db.provider" value="SqlServer-2.0"/>
    <add key="db.connectionString" value="Server=127.0.0.1;database=ZhiFang.LabStar.TechnicianStation;uid=sa;pwd=sa;"/>
    <add key="db.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
    <add key="db.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
    <add key="hbm2ddl.auto" value="update"/>
  </databaseSettings>
  <!--ADO数据库连接字符串-->
  <connectionStrings>
    <!--实验室检验数据库连接字符串-->
    <add name="Digitlab_ConnectStr" connectionString="user id=sa;password=sa;data source=127.0.0.1;initial catalog=digitlab_zr;" providerName="SqlServer|MSSql"/>
    <add name="LabStarGraph_ConnectStr" connectionString="user id=sa;password=sa;data source=127.0.0.1;initial catalog=LabStarGraph;" providerName="SqlServer|MSSql"/>
  </connectionStrings>
  <appSettings>
    <!--平台危急值消息服务路径-->
    <add key="MsgPlatformServiceUrl" value="http://localhost/ZhiFang.LabInformationIntegratePlatform"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--质控打印模板存放路径  根目录相对路径-->
    <add key="QCPrintTempleUrl" value="QCPrintTemple/"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime maxQueryStringLength="102400" maxRequestLength="409600"/>
    <httpModules/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65E474D141E25E07" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.40711" newVersion="1.3.1.40711"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65E474D141E25E07" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.40711" newVersion="1.3.1.40711"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="ZhiFang.LabStar.TechnicianStation.ServerWCF.TestService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabStar.TechnicianStation.TestServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.LabStar.TechnicianStation.ITestService"/>
      </service>
      <service name="ZhiFang.LabStar.TechnicianStation.ServerWCF.LabStarBaseTableService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabStar.TechnicianStation.LabStarBaseTableServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.LabStar.TechnicianStation.ILabStarBaseTableService"/>
      </service>
      <service name="ZhiFang.LabStar.TechnicianStatio.ServerWCFn.LabStarService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabStar.TechnicianStation.LabStarServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.LabStar.TechnicianStation.ILabStarService"/>
      </service>
      <service name="ZhiFang.LabStar.TechnicianStation.ServerWCF.LabStarCommonService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabStar.TechnicianStation.LabStarCommonServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.LabStar.TechnicianStation.ILabStarCommonService"/>
      </service>
      <service name="ZhiFang.LabStar.TechnicianStation.ServerWCF.MsgManageService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabStar.TechnicianStation.MsgManageServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.LabStar.TechnicianStation.IMsgManageService"/>
      </service>
      <service name="ZhiFang.LabStar.TechnicianStation.ServerWCF.DBUpdateService">
        <endpoint address="" behaviorConfiguration="ZhiFang.LabStar.TechnicianStation.ServerWCF.DBUpdateServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ZhiFang.LabStar.TechnicianStation.ServerWCF.DBUpdateService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ZhiFang.LabStar.TechnicianStation.TestServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="ZhiFang.LabStar.TechnicianStation.LabStarBaseTableServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="ZhiFang.LabStar.TechnicianStation.LabStarServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="ZhiFang.LabStar.TechnicianStation.LabStarCommonServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="ZhiFang.LabStar.TechnicianStation.MsgManageServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="ZhiFang.LabStar.TechnicianStation.ServerWCF.DBUpdateServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
