body
{
	background:url(images/d.jpg);
}
.Table
{
	color: #000000;
	text-decoration: none;
}
a:link 
{
	color: #000000;
	text-decoration: none;
}

a:visited 
{
	text-decoration: none;
	color: #000000;
}

a:hover 
{
	color: #ff0000;/*#666666*/
	text-decoration:underline;
}

a:active 
{
	text-decoration: none;
	color: #FF0000;
}
.LinkA
{
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
.LinkHyper
{
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
.LinkButton
{
	font-size: 12px;
	color: #009900;
	text-decoration: none;
}
.RadioButtonList
{
	font-family: "ו";
	font-size: 12px;
}
.CheckBoxList
{
	font-family: "ו";
	font-size: 12px;
}

.DropDownList
{
	font-family: "ו";
	font-size: 12px;
}
.LabelTitle 
{
	font-size: 12px;
	font-weight: bold;
	color:#333333;
}
.LabelInput
{
	font-size: 11px;
	text-align:right;
	color:#333333;
}
.TextInput
{
	font-size: 11px;
	text-align:left;
	color:#333333;
}
.DataList
{
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}
.DataListColumn
{
	font-size: 13px;
	background: #ffffe1;
	color: #ff0000;
	text-decoration: none;
}
.DataListLeft
{
	font-size: 12px;
	background: #ffffe1;
	color: #009900;
	text-decoration: none;
}
.DataListRight
{
	color: #000000;
	font-size: 12px;
	background-color:#BBD3E8;
	text-decoration: none;
}
.DataListInner
{
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}
.DataListFoot
{
	color: #000000;
	font-size: 13px;
	background-color:#E0CFC0;
	text-decoration: none;
}
.Button
{
	color: #000000;
	text-decoration: none;
}