<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<!--spring配置-->
	<spring xmlns="http://www.springframework.net">
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
		</parsers>
		<context>
			<resource uri="config://spring/objects" />
			<!--数据库访问层配置-->
			<resource uri="assembly://ZhiFang.Digitlab.ReagentSys.TestCase/ZhiFang.Digitlab.ReagentSys.TestCase.Config/DaoBase.xml" />
			<resource uri="assembly://ZhiFang.Digitlab.ReagentSys.TestCase/ZhiFang.Digitlab.ReagentSys.TestCase.Config/Dao.xml" />
			<!--业务处理层配置-->
			<resource uri="assembly://ZhiFang.Digitlab.ReagentSys.TestCase/ZhiFang.Digitlab.ReagentSys.TestCase.Config/ServiceBase.xml" />
			<resource uri="assembly://ZhiFang.Digitlab.ReagentSys.TestCase/ZhiFang.Digitlab.ReagentSys.TestCase.Config/Service.xml" />
		</context>
		<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
			<!--拦截控制层所有业务操作-->
			<object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
				<property name="Patterns">
					<list>
						<!--<value>ZhiFang.Digitlab.ReagentSys.*</value>-->
						<value>ZhiFang.Digitlab.ServiceCommon.*</value>
					</list>
				</property>
			</object>

			<!--切面-->
			<object id="LogAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.InterceptorLog, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
			<!--切面-->
			<object id="BeforeAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.InterceptorAuthorityFilter, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
			<!--切面-->
			<object id="AfterAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.AfterReturningAdvice, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
			<!--切面-->
			<object id="ExceptAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.ExceptAdvice, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>

			<!--<object id="RBACServiceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="patterns">
          <list>
            <value>ZhiFang.Digitlab.HITACHI.RBACService.RBAC_UDTO_*</value>
            <value>ZhiFang.Digitlab.HITACHI.SingleTableService.ST_UDTO_*</value>
            <value>ZhiFang.Digitlab.HITACHI.MEPTService.ST_UDTO_*</value>
          </list>
        </property>
      </object>-->

			<!--<object id="RABCMethodBeforeAdvice" type="ZhiFang.Digitlab.BusinessAnalysis.Interceptor.RABCMethodBeforeAdvice, ZhiFang.Digitlab.BusinessAnalysis.Interceptor" singleton="false"/>-->

			<!--关联切面-->
			<aop:config>
				<aop:advisor pointcut-ref="serviceOperation" advice-ref="LogAdvice"/>
				<aop:advisor pointcut-ref="serviceOperation" advice-ref="BeforeAdvice"/>
				<aop:advisor pointcut-ref="serviceOperation" advice-ref="AfterAdvice"/>
				<aop:advisor pointcut-ref="serviceOperation" advice-ref="ExceptAdvice"/>
				<!--<aop:advisor pointcut-ref="RBACServiceOperation" advice-ref="RABCMethodBeforeAdvice"/>-->
			</aop:config>
		</objects>
	</spring>
	<!--数据库连接字符串-->

	<databaseSettings>
		<!--.\SQLEXPRESS-->
		<add key="db.provider" value="SqlServer-2.0" />
		<add key="db.connectionString" value="Server=Thinkpad2015;database=ReaDataCenter20151224;uid=sa;pwd=sa;" />
		<add key="db.driver_class" value="NHibernate.Driver.SqlClientDriver" />
		<add key="db.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
		<add key="hbm2ddl.auto" value="update" />
	</databaseSettings>

	<appSettings>
		<add key="Spring.Data.NHibernate.Support.SessionScope.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
		<add key="EntityNamespace" value="ZhiFang.Digitlab.Entity.ReagentSys"/>
		<add key="ReportTemplateDir" value="ReportTemplate"/>
		<add key="ReportTemplateFileextension" value=".frx"/>
	</appSettings>
	<system.web>
		<httpRuntime requestValidationMode="2.0" maxQueryStringLength="102400"/>
		<pages validateRequest="false" />
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"></customErrors>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="ZhiFang.Digitlab.ReagentSys.RBACService">
				<endpoint address="" behaviorConfiguration="ZhiFang.Digitlab.ReagentSys.RBACServiceAspNetAjaxBehavior"
				  binding="webHttpBinding" contract="ZhiFang.Digitlab.ReagentSys.ServerContract.IRBACService" />
			</service>
			<service name="ZhiFang.Digitlab.ReagentSys.ConstructionService">
				<endpoint address="" behaviorConfiguration="ZhiFang.Digitlab.ReagentSys.ConstructionServiceAspNetAjaxBehavior"
				  binding="webHttpBinding" contract="ZhiFang.Digitlab.ReagentSys.ServerContract.IConstructionService" />
			</service>
			<service name="ZhiFang.Digitlab.ReagentSys.SingleTableService">
				<endpoint address="" behaviorConfiguration="ZhiFang.Digitlab.ReagentSys.SingleTableServiceAspNetAjaxBehavior"
				  binding="webHttpBinding" contract="ZhiFang.Digitlab.ReagentSys.ServerContract.ISingleTableService" />
			</service>
			<service name="ZhiFang.Digitlab.ReagentSys.ReagentService">
				<endpoint address="" behaviorConfiguration="ZhiFang.Digitlab.ReagentSys.ReagentServiceAspNetAjaxBehavior"
				  binding="webHttpBinding" contract="ZhiFang.Digitlab.ReagentSys.ServerContract.IReagentService" />
			</service>
			<service name="ZhiFang.Digitlab.ReagentSys.ReagentSysService">
				<endpoint address="" behaviorConfiguration="ZhiFang.Digitlab.ReagentSys.ReagentSysServiceAspNetAjaxBehavior"
				  binding="webHttpBinding" contract="ZhiFang.Digitlab.ReagentSys.ServerContract.IReagentSysService" />
			</service>
			<service name="ZhiFang.Digitlab.ReagentSys.PublicService">
				<endpoint address="" behaviorConfiguration="ZhiFang.Digitlab.ReagentSys.PublicServiceAspNetAjaxBehavior"
				  binding="webHttpBinding" contract="ZhiFang.Digitlab.ReagentSys.ServerContract.IPublicService" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ZhiFang.Digitlab.ReagentSys.RBACServiceAspNetAjaxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="ZhiFang.Digitlab.ReagentSys.ConstructionServiceAspNetAjaxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="ZhiFang.Digitlab.ReagentSys.SingleTableServiceAspNetAjaxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="ZhiFang.Digitlab.ReagentSys.ReagentServiceAspNetAjaxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="ZhiFang.Digitlab.ReagentSys.ReagentSysServiceAspNetAjaxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="ZhiFang.Digitlab.ReagentSys.PublicServiceAspNetAjaxBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="ZhiFang.Digitlab.ReagentSys.ServerContract.ReagentSysServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding allowCookies="true" closeTimeout="00:10:00" openTimeout="00:01:00"
						 receiveTimeout="00:10:00" sendTimeout="00:01:00"
						 maxBufferPoolSize="9223372036854775807" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"  >

				</binding>
			</webHttpBinding>
			<basicHttpBinding>
				<binding closeTimeout="00:10:00"
					openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
						maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
		  multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<!-- Register the managed module -->
			<add name="WcfReadEntityBodyModeWorkaroundModule" type="ZhiFang.Digitlab.ReagentSys.HttpModule.WcfReadEntityBodyModeWorkaroundModule, ZhiFang.Digitlab.ReagentSys" />
		</modules>
		<staticContent>
			<mimeMap fileExtension=".svc" mimeType="application/json; charset=UTF-8" />
		</staticContent>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="102400"></requestLimits>
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>
	</system.webServer>

</configuration>
