TD
{
	font-size: 9pt;
	font-family: "宋体";
}
BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体"
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体"
}
A {
	FONT-SIZE: 9pt; COLOR: #0000CC; FONT-FAMILY: "宋体";
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: "宋体";
}
LI {
	FONT-SIZE: 9pt; LINE-HEIGHT: 14pt; FONT-FAMILY: 宋体,arial
}
.tdBlack1px
{
	border-right: darkgray 1px solid;
	border-top: darkgray 1px solid;
	border-left: darkgray 1px solid;
	border-bottom: darkgray 1px solid;
}
.trbottomDot TD
{
	border-right: darkgray 0px solid;
	border-top: darkgray 0px solid;
	border-left: darkgray 0px solid;
	border-bottom: darkgray 1px dotted;
}
