.text {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.link:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.link:hover {
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
}
.left {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left:link {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left:hover {
	font-size: 12px;
	font-weight: bold;
	color: #669900;
	text-decoration: none;
}
.left1 {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.left1:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.right {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.right1 {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.text1 {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.pic {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.more {
	font-size: 12px;
	color: #003399;
	text-decoration: none;
}
.textm {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.textm:hover {
	font-size: 12px;
	color: #0066CC;
	text-decoration: none;
}
.more:hover {
	font-size: 12px;
	color: #3399FF;
	text-decoration: none;
}
