
.gridrow {
    background:red;;
}
.row-s .x-grid-cell{
    /*background-color : pink !important;*/
    /* dotted*/
    border: 1px solid blue;
    /*border-collapse:collapse;*/
}
.labelStyle	{
    font-family: "宋体";font-size:20px;}
.labelStyle_state	{
    color:blue;
    font-family: "宋体";font-size:15px;}

.icon-setup {
    background-image:url(images/icon/button/setupgray.png);}

.textfieldserch{
    color: gray;
    font-style:italic;font-family: "宋体";font-size:10px;
}
.textdefaultfieldserch{
    color:#000000;
/*font-family: "宋体"*/
;font-size:10px;
}

.icon-print {
    background-image:url(images/icon/button/printer.png);}

.btnadd{
    background-image:url(images/icon/button/add.png);}
.icon-save {
    background-image:url(images/icon/button/save.png);}
.btndelete{
    background-image:url(images/icon/button/delete.png);}
.btnupdate{
    background-image:url(images/icon/button/printer.png);}
.btnselceform{
    background-image:url(images/icon/button/search-16.png);}
.btnshowtestitem{
    background-image:url(images/icon/button/see.png);}
.btnhelp{
background-image:url(images/icon/button/system-help.png);}

/*tabpanel图标*/
.tab-try{
    background-image:url(images/icon/grid/columns.gif);}
.tab-micro{
    background-image:url(images/icon/tab/microitem.png);}
.tab-che{
    background-image:url(images/icon/tab/cheitem.png);}
.tab-linjian{
    background-image:url(images/icon/tab/linjian.jpg);}
.tab-gusui{
    background-image:url(images/icon/tab/guisuiitem.jpg);}
.tab-all{
    background-image:url(images/icon/tab/allitem.png);}
.tab-mytemplate{
    background-image:url(images/icon/tab/mytemplate.png);}
.tab-depttemplate{
    background-image:url(images/icon/tab/depttemplate.png);}
.tab-hosptemplate{
    background-image:url(images/icon/tab/hospitaltemplate.png);}