/* CSS Document */
.style-title {
	width: 100%;
	font-family: "ו";
	font-size: 13px;
	color: #666666;
	height: 28px;
	padding-top:6px;
	padding-left:10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-bottom-color: #999999;
	background-color: #E8FFFF;
}
.style-text {
	font-family: "ו";
	font-size: 13px;
	width: 95%;
	height: 18px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	text-align: left;
	margin-bottom: 6px;
}
.style-table {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	background-color: #F7FFFF;
}
