/* CSS Document */
.font-title{font-size:20px; font-weight:bold;}
.font-titlefu{line-height:20px;font-size:13px; color:#000000;}
.font-content{text-indent:2em; line-height:20px;}
.tablebg{font-family:"ו";font-size:13px; color:#000000; background-image:url(../images/bg-0003.jpg); border:#25aef5 solid 1px;}
.tablebgtd{ background-color:#fdcf8a}
.fujian{color:#FFFFFF;border:#25aef5 solid 1px;}
.filetdbg{background-image:url(../images/tbg.gif)}

a.lian:link {color: #000000;font-size:13px;text-decoration: none;line-height:20px;}
a.lian:visited {color: #000000;font-size:13px;text-decoration: none;line-height:20px;}
a.lian:hover {color: #CC0000;font-size:13px;text-decoration: none;line-height:20px;}
a.lian:active {color: #000000;font-size:13px;text-decoration: none;line-height:20px;}