/* CSS Document */
body{
	margin-left:2px;
	margin-right:2px;
}
a{
	font:"ו", Arial, sans-serif; 
	font-size:13px; 
	color:#333333;
	text-decoration: none; }
a:hover{
	color:#CC3300;
	text-decoration: none;
	}
.style-tableall{
	border:#eeeeee solid 5px;
	border-left:#eeeeee solid 1px;
	border-right:#eeeeee solid 1px;
	}
.style-titletable{
    border-left:#FFFFFF solid 8px;
	border-right:#FFFFFF solid 8px;
	border-bottom:#d3d3d3 solid 1px;
	}
.style-texttable{
	border:#FFFFFF solid 8px;
	}	
.style-texttable td{
	height:20px;
	border-bottom:#d3d3d3 dotted 1px;
	}
.style-titlepic{
    width:13px;
	height:28px;
	background-image: url(skyblue/m1_icon.gif);
	background-repeat:no-repeat;
	float:left;
	}
.style-titletext{
	font-size:13px; 
	color:#1f86cb; 
	font-weight:bold; 
	line-height:28px;
	text-align:left;
	float:left;
	}
.style-titlemore{
	width:38px;
	height:13px;
	background-image: url(skyblue/m1_more.gif);
	background-repeat:no-repeat;
	float:right;
	margin-top:15px;
	}
.style-textpic{
    width:13px;
	height:20px;
	background-image: url(skyblue/m1_icon-.gif);
	background-repeat:no-repeat;
	float:left;
	}
.style-text{
	height:20px;
	font:"ו", Arial, sans-serif; 
	font-size:13px; 
	color:#333333;
	text-decoration: none; 
	line-height:23px;
	float:left;
	}
.style-textothers{}