/*ACROBAT类型文件图标*/
.file-acrobat {
	height:16px;width:16px;
	background-image: url('images/files/page_white_acrobat.png') !important;}
	
/*C类型文件图标*/
.file-c {
	height:16px;width:16px;
	background-image: url('images/files/page_white_c.png') !important;}
	
/*CPLUSPLUS类型文件图标*/
.file-cplusplus {
	height:16px;width:16px;
	background-image: url('images/files/page_white_cplusplus.png') !important;}
	
/*CSHARP类型文件图标*/
.file-csharp {
	height:16px;width:16px;
	background-image: url('images/files/page_white_csharp.png') !important;}
	
/*DATABASE类型文件图标*/
.file-database {
	height:16px;width:16px;
	background-image: url('images/files/page_white_database.png.png') !important;}
	
/*EXCEL类型文件图标*/
.file-excel {
	height:16px;width:16px;
	background-image: url('images/files/page_white_excel.png') !important;}
	
/*FLASH类型文件图标*/
.file-flash {
	height:16px;width:16px;
	background-image: url('images/files/page_white_flash.png') !important;}
	
/*PHP类型文件图标*/
.file-php {
	height:16px;width:16px;
	background-image: url('images/files/page_white_php.png') !important;}
	
/*WORD类型文件图标*/
.file-word {
	height:16px;width:16px;
	background-image: url('images/files/page_white_word.png') !important;}
	