/*功能树根节点图标*/
.main-lefttree-root-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/application_home-16.png') !important;
}
/*首页图标*/
.main-home-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/home-16.png') !important;
}
/*元应用图标*/
.main-build-img-16 {
	height:16px;width:16px;
	background-image: url('images/build/app-double-16.png') !important;
}
/*构建表单图标*/
.main-build-form-add-img-16 {
	height:16px;width:16px;
	background-image: url('images/build/app-form-add-16.png') !important;
}
/*构建列表图标*/
.main-build-grid-add-img-16 {
	height:16px;width:16px;
	background-image: url('images/build/app-grid-16.png') !important;
}

/*应用导航*/
.box-search-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/box-search-16.png') !important;
}
/*应用查找*/
.search-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/search-16.png') !important;
}
/*锁定*/
.lock-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/lock-16.png') !important;
}
/*用户信息*/
.user-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/user-16.png') !important;
}/*功能区锁定*/
.top-lock-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/top-lock-16.png') !important;
}
/*功能区未锁定*/
.top-lock-open-img-16 {
	height:16px;width:16px;
	background-image: url('images/main/top-lock-open-16.png') !important;
}
/*退出系统*/
.exit-img-48 {
	height:48px;width:48px;
	background-image: url('images/main/exit-48.png') !important;
}

/*左箭头*/
.left-img-37-50 {
	height:50px;width:37px;
	background-image: url('images/imgDiv/left.jpg') !important;
}
/*右箭头*/
.right-img-37-50 {
	height:50px;width:37px;
	background-image: url('images/imgDiv/right.jpg') !important;
}
/*打印清单*/
.printlist-gif-30-28 {
	height:30px;width:28px;
	background-image: url('images/gif/printlist.gif') !important;
}
