body,table{
	font-size:12px;
	font-family:verdana,helvetica,arial,sans-serif;
	padding:0;
	margin:0;
	overflow:visible;
}
table{
	table-layout:fixed;
	empty-cells:show;
	border-collapse:collapse;
	margin:0;
}
td{
	height:20px;
}
h1,h2,h3{
	font-size:12px;
	margin:0;
	padding:0;
}
.table{
	border:1px solid #cad9ea;
	color:#666;
	background-color:#FFFFFF;
}
.table th {
	background-repeat:repeat-x;
}
.table td,.table th{
	border:1px solid #cad9ea;
	padding:2px;
}
.table tr.alter{
	background-color:#F4F4F4;
}
.div{
	background-color:#FFFFFF;
	position:absolute;
	margin:0;
	float:left;
	overflow:auto;
	border:1px solid #cad9ea;
}
.mouseOut{
	background-color:#FFFFFF;
}
.mouseOver{
	background-color:#f5fafe;
}
.rownumber{
	background-color:#F4F4F4;
}
.button{
	background-position:2px 2px;
	background-repeat:no-repeat;
	text-align:right;
	cursor:pointer;
	border:1px solid #cad9ea;
}