/* CSS Document */
*{ margin:0px; padding:0px;}
a {
	font-family: ו, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #333333;
}
body,td,th {
	font-family: ו, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
}