@CHARSET "UTF-8";
/*鼠标箭头变小手*/
.hand {cursor: pointer;}

/*用户图标*/
.main-user-16 {
	height:16px;width:16px;
	background-image: url('images/sysbase/user-16.png') !important;
}
/*用户图标*/
.main-lock-16 {
	height:16px;width:16px;
	background-image: url('images/sysbase/lock-16.png') !important;
}
/*文件夹图标*/
.main-package-16 {
	height:16px;width:16px;
	background-image: url('images/sysbase/package-16.png') !important;
}
/*LOGO图标16*/
.main-logo-16 {
	height:16px;width:16px;
	background-image: url('images/sysbase/logo-16.png') !important;
}
/*LOGO图标24*/
.main-logo-24 {
	height:24px;width:24px;
	background-image: url('images/sysbase/logo-24.png') !important;
}
/*LOGO图标48*/
.main-logo-48 {
	height:48px;width:48px;
	background-image: url('images/sysbase/logo-48.png') !important;
}