.login-div{
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-210px;
	margin-left:-150px;
	height:420px;
	width:300px;
	/*background-color: red;*/
}

/**用户信息*/
.login-head-div{
	margin:20px;
	text-align:center;
}
.login-head-div img{
	/*width:260px;
	height:150px;*/
	width:86px;
	height:86px;
	/*border-radius: 64px;*/
	/*border: 1px solid #E0E0E0;*/
}
.login-head-div div{
	margin:15px 15px 15px 10px;
	font-size:1.2em;
}
/**错误样式*/
.login-error-div{
	margin:5px;
	text-align:center;
	color:red;
}
/**账户框样式*/
.login-account-div{
	margin:20px 40px;
}
.login-account-div input{
	background-image:url('../img/icon/169ada/account_1.png');
	background-repeat:no-repeat;
	background-position:3px;
	padding:0 10px 0 36px;
}
.login-account-div div button{
	font-size:17px;
	border:1px solid #e7e7e7;
	margin-top:-1px;
}
/**密码框样式*/
.login-password-div{
	margin:20px 40px;
}
.login-password-div input{
	background-image:url('../img/icon/169ada/password_1.png');
	background-repeat:no-repeat;
	background-position:3px;
	padding:4px 10px 2px 36px;
}
/**按钮样式*/
.login-button-div{
	margin:20px 40px;
}
