<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="lisdatabaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <!--数据库访问层配置-->
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/DaoBase.xml" />
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/Dao.xml" />
      <!--业务处理层配置-->
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/ServiceBase.xml" />
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/Service.xml" />
      <!--契约实现-->
      <resource uri="assembly://ZhiFang.ObjectFactory.BloodTransfusion/ZhiFang.ObjectFactory.BloodTransfusion.Config/Facade.xml" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
      <!--拦截控制层所有业务操作-->
      <!--
      <object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            -->
      <!--<value>ZhiFang.BloodTransfusion.*</value>-->
      <!--
            <value>ZhiFang.Digitlab.ServiceCommon.*</value>
          </list>
        </property>
      </object>-->
      <!--数据库升级-->
      <object id="UpdateDataBase" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.BloodTransfusion.RBACService.*</value>
          </list>
        </property>
      </object>
      <!--拦截服务层所有业务操作-->
      <object id="LoginValidationOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.BloodTransfusion.WeiXinAppService.*</value>
            <value>ZhiFang.BloodTransfusion.SingleTableService.*</value>
            <value>ZhiFang.BloodTransfusion.ConstructionService.*</value>
            <value>ZhiFang.BloodTransfusion.PublicService.*</value>
          </list>
        </property>
      </object>
      <!--登录成功后,实验室数据升级RBAC_BA_Login-->
      <object id="LoginAfterOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="Patterns">
          <list>
            <value>ZhiFang.BloodTransfusion.RBACService.*</value>
          </list>
        </property>
      </object>
      <!--切面-->
      <!--
      <object id="LogAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.InterceptorLog, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
      -->
      <!--切面-->
      <!--
      <object id="BeforeAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.InterceptorAuthorityFilter, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
      -->
      <!--切面-->
      <!--
      <object id="AfterAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.AfterReturningAdvice, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>
      -->
      <!--切面-->
      <!--
      <object id="ExceptAdvice" type="ZhiFang.Digitlab.Interceptor.ReagentSys.ExceptAdvice, ZhiFang.Digitlab.Interceptor.ReagentSys" singleton="false"/>-->
      <object id="UpdateDataBaseAdvice" type="ZhiFang.Interceptor.BloodTransfusion.UpdateDataBaseAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <!--登录验证切面-->
      <object id="LoginValidationAdvice" type="ZhiFang.Interceptor.BloodTransfusion.LoginValidationAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <object id="ModuleValidationAdvice" type="ZhiFang.Interceptor.BloodTransfusion.ModuleValidationAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <!--登录成功后拦截-->
      <object id="LoginAfterFilterAdvice" type="ZhiFang.Interceptor.BloodTransfusion.LoginAfterFilterAdvice, ZhiFang.Interceptor.BloodTransfusion" singleton="false" />
      <!--关联切面-->
      <aop:config>
        <!--<aop:advisor pointcut-ref="serviceOperation" advice-ref="LogAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="BeforeAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="AfterAdvice"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="ExceptAdvice"/>-->
        <aop:advisor pointcut-ref="UpdateDataBase" advice-ref="UpdateDataBaseAdvice" />
        <aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="LoginValidationAdvice" />
        <aop:advisor pointcut-ref="LoginValidationOperation" advice-ref="ModuleValidationAdvice" />
        <aop:advisor pointcut-ref="LoginAfterOperation" advice-ref="LoginAfterFilterAdvice" />
      </aop:config>
    </objects>
  </spring>
  <!--数据库连接字符串-->
  <databaseSettings>
    <add key="db.provider" value="SqlServer-2.0" />
    <!--血库数据库连接字符串\MSSQLSERVER2012-->
    <add key="db.connectionString" value="Server=.\MSSQLSERVER2012;database=digitlab_Blood_YZ;uid=sa;pwd=longfuchu;" />
    <add key="db.driver_class" value="NHibernate.Driver.SqlClientDriver" />
    <add key="db.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
    <add key="hbm2ddl.auto" value="update" />
  </databaseSettings>
  <!--Lis数据库连接字符串-->
  <lisdatabaseSettings>
    <add key="db.provider" value="SqlServer-2.0" />
    <add key="db.connectionString" value="Server=localhost;database=digitlab_Blood;uid=sa;pwd=longfuchu;" />
  </lisdatabaseSettings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Spring.Data.NHibernate.Support.SessionScope.SessionFactoryObjectName" value="NHibernateSessionFactory" />
    <add key="EntityNamespace" value="ZhiFang.Entity.BloodTransfusion" />
    <add key="ReportTemplateDir" value="ReportTemplate" />
    <add key="ReportTemplateFileextension" value=".frx" />
    <!--微信参数-->
    <add key="appid" value="wx82fee0402905390c" />
    <add key="appsecret" value="28eb6ea1135bc8999d54644ce894aaf6" />
    <add key="GetTokenUrl" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential" />
    <add key="GetOpenIdListUrl" value="https://api.weixin.qq.com/cgi-bin/user/get" />
    <add key="GetOpenIdUrl" value="https://api.weixin.qq.com/cgi-bin/user/info" />
    <!--<add key="GetUserAuthorizeCode" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid=APPID&redirect_uri=REDIRECT_URI&response_type=code&scope=SCOPE&state=STATE#wechat_redirect"/>-->
    <add key="GetUserAuthorizeTokenUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token" />
    <add key="GetUserAuthorizeTokenRefreshUrl" value="https://api.weixin.qq.com/sns/oauth2/refresh_token" />
    <add key="GetJSAPITokenUrl" value="https://api.weixin.qq.com/cgi-bin/ticket/getticket" />
    <add key="PushMsgUrl" value="https://api.weixin.qq.com/cgi-bin/message/custom/send" />
    <add key="GetMediaUrl" value="http://file.api.weixin.qq.com/cgi-bin/media/get" />
    <add key="GetPermanentMediaListUrl" value="https://api.weixin.qq.com/cgi-bin/material/batchget_material" />
    <add key="GetPermanentMediaFileUrl" value="https://api.weixin.qq.com/cgi-bin/material/get_material" />
    <add key="Domain" value="demo.zhifang.com.cn" />
    <!--模版消息-->
    <add key="SetBusinessUrl" value="https://api.weixin.qq.com/cgi-bin/template/api_set_industry" />
    <add key="GetBusinessTemplateIdUrl" value="https://api.weixin.qq.com/cgi-bin/template/api_add_template" />
    <add key="PushMessageTemplateContextUrl" value="https://api.weixin.qq.com/cgi-bin/message/template/send" />
    <!--消息推送开关0：不推送，1推送。默认不推送-->
    <add key="PushMessageFlag" value="0" />
    <!--模版消息-->
    <add key="SJBhttpReg" value="101100-SJB-ZFKJ-867438" />
    <add key="SJBhttpPWD" value="VHODXCGZ" />
    <add key="SJBhttpVaildModule" value="(检验之星平台验证码,十分钟内有效)【智方科技】" />
    <add key="VaildCodeTimeOut" value="300" />
    <!--欢迎词-->
    <add key="WelcomeStr" value="'XXX'您好！检验之星服务号正在建设中，感谢您的关注！" />
    <add key="WelcomeStrInput" value="请输入“手机号:xxx”或“身份证号:xxx”进行绑定或直接输入“条码号:xxx”进行查询！" />
    <!--是否强制注册手机号（1开启0关闭）-->
    <add key="RegeditMobileFlag" value="1" />
    <!--微信版本-->
    <add key="WeiXinVersion" value="0000.0000.0000.0000" />
    <!--微信参数-->
    <!--订单自动审核时间间隔，单位秒-->
    <add key="AutoCheckOrderDocTime" value="60" />
    <!--巴瑞订单新旧接口类型-->
    <add key="BaronInterfaceType" value="1" />
    <!--关闭自动刷新-->
    <add key="vs:EnableBrowseLink" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime maxQueryStringLength="102400" maxRequestLength="409600" />
    <httpModules />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://218.245.7.65:38090/services/Lis/SupplyChainForLISService"
        binding="basicHttpBinding" bindingConfiguration="UserApiSoap"
        contract="Service_WangHai_ShiJiTan.SysPlatformDataSync" name="UserApiSoap" />
    </client>
    <services>
      <service name="ZhiFang.BloodTransfusion.RBACService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.RBACServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.IRBACService" />
      </service>
      <service name="ZhiFang.BloodTransfusion.ConstructionService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.ConstructionServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.IConstructionService" />
      </service>
      <service name="ZhiFang.BloodTransfusion.SingleTableService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.SingleTableServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.ISingleTableService" />
      </service>
      <service name="ZhiFang.BloodTransfusion.PublicService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.PublicServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.IPublicService" />
      </service>
      <service name="ZhiFang.BloodTransfusion.WeiXinAppService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.WeiXinAppServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.IWeiXinAppService" />
      </service>
      <service name="ZhiFang.BloodTransfusion.CommonService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.CommonServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.ICommonService" />
      </service>
      <service name="ZhiFang.BloodTransfusion.ReaStatisticalAnalysisService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.ReaStatisticalAnalysisServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.IReaStatisticalAnalysisService" />
      </service>
      <service name="ZhiFang.BloodTransfusion.BloodTransfusionManageService">
        <endpoint address="" behaviorConfiguration="ZhiFang.BloodTransfusion.BloodTransfusionManageServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ZhiFang.BloodTransfusion.ServerContract.IBloodTransfusionManageService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ZhiFang.BloodTransfusion.RBACServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.BloodTransfusion.ConstructionServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.BloodTransfusion.SingleTableServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.BloodTransfusion.PublicServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.BloodTransfusion.WeiXinAppServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.BloodTransfusion.CommonServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.BloodTransfusion.ReaStatisticalAnalysisServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ZhiFang.BloodTransfusion.BloodTransfusionManageServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ZFClientServiceSoap">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="UserApiSoap" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" allowCookies="true" maxBufferSize="2147483647"
          maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize="2147483647" />
        <binding name="ReagentService">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="WcfReadEntityBodyModeWorkaroundModule" type="ZhiFang.BloodTransfusion.HttpModule.WcfReadEntityBodyModeWorkaroundModule, ZhiFang.BloodTransfusion" />
    </modules>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/json; charset=UTF-8" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="102400" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--反向代理-->
      <remove name="svc-Integrated-4.0" />
      <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
      
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>