body {
}
/*页面顶部样式*/
.page-top{
	text-align:center;
	background-color:#ffffff;
	color:#169ada;
    height:50px;
    z-index:100;
}
/*页面顶部样式-标题*/
.page-top-title {
	float: left;
	width: 100%;
	padding:10px 0;
	font-size: 24px;
}
/*页面顶部样式-返回*/
.page-top-back {
	float: left;
    padding:13px 10px;
    margin-top:-50px;
    cursor:pointer;
}
/*页面顶部样式-主页*/
.page-top-home {
	float: right;
    padding:13px 10px;
    margin-top:-50px;
    cursor:pointer;
}
/*加载中样式*/
.loading-div {
    position: absolute;
	top:50%;
	margin-top:-150px;
    left:50%;
    margin-left:-150px;
	height:300px;
    width:300px;
    text-align:center;
    color:#ffffff;
    z-index: 1040;
    background-image:url('images/gif/loading_300.gif');
}
/*列表样式*/
.list-div{
	float:left;
	width:100%;
	padding:10px 5px;
	/*margin:0 2px;*/
	border-bottom: 1px solid #e0e0e0;
	color:#595959;
}
.list-div img{
	float:left;
	width:64px;
	height:64Px;
}
.list-div-button{
	float:right;
	margin:-45px 5px 0 5px;
	padding:5px 10px;
	border:1px solid #169ada;
	color:#169ada;
	border-radius:2px;
	cursor:pointer;
}
.list-div-delete{
	/*float:right;
	margin:-45px 5px 0 5px;
	padding:5px 10px;
	border:1px solid #169ada;
	color:#169ada;
	border-radius:2px;
	cursor:pointer;*/
	
	z-index:-1;
	float:right;
	width:60px;
	text-align: center;
	/*margin-top:-65px;*/
	padding:10px;
	background-color:red;
	color:white;
}
.div-button{
	text-align:center;
	border:1px solid #169ada;
	padding:5px 10px;
	margin:5px;
	background-color: #169ada;
	color:#ffffff;
	/*border-radius:2px;*/
	cursor:pointer;
}

/**基础列表table*/
.basic_table {
	width: 100%;
	font-size: 1em;
	table-layout: fixed;
	empty-cells: show;
	border-collapse: collapse;
	margin: 0;
	border: 1px solid #cad9ea;
	color: #666;
	background-color: #FFFFFF;
}
.basic_table th {
	background-repeat: repeat-x;
	height: 30px;
	border: 1px solid #cad9ea;
	padding: 7px 2px;
	text-align: center;
	/*background-color: #cad9ea;*/
	background-color:rgba(22,154,218,0.7);
	color:#ffffff;
}
.basic_table td {
	height: 20px;
	border: 1px solid #cad9ea;
	padding: 10px 2px;
}