.black_con9
{
    COLOR: black;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 140%
}
.black_con9_bold
{
    COLOR: black;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 140%;
    font-weight: bold
}
.white_con9
{
    COLOR: white;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 140%
}
.white_con9_bold
{
    COLOR: white;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 140%;
    font-weight: bold
}
.black_con11
{
    COLOR: black;
    FONT-SIZE: 10.5pt;
    LINE-HEIGHT: 140%
}
.black_con11_bold
{
    COLOR: black;
    FONT-SIZE: 10.5pt;
    LINE-HEIGHT: 140%;
    font-weight: bold
}
.blue_con9
{
    COLOR: blue;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 140%
}
.blue_con9_bold
{
    COLOR: blue;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 140%;
    font-weight: bold
}
.link11
{
    COLOR: black;
    FONT-SIZE: 10.5pt;
    LINE-HEIGHT: 100%
}
.link9
{
    COLOR: black;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 180%
}
.linkfrom9
{
    COLOR: black;
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 180%
}
A:hover
{
    //COLOR: #0000F1;
    COLOR: red;
    TEXT-DECORATION: underline
}
A
{
    COLOR: black;
    TEXT-DECORATION: none
}

.inputS
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
	letter-spacing: normal;
	background-color: whitesmoke;
}

