BODY
{
    FONT-FAMILY: ו, Arial;
    FONT-SIZE: 9pt
}
A:link
{
    COLOR: darkblue
}
A:hover
{
    COLOR: firebrick
}
A:visited
{
    COLOR: darkblue
}
TABLE
{
    FONT-FAMILY: ו, Arial;
    FONT-SIZE: 9pt
}
.text
{
    FONT-FAMILY: ו, Arial;
    FONT-SIZE: 9pt
}
INPUT.noBorder
{
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
}
INPUT.onlyBottomLine
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px black;
}
INPUT.onlyBottomLineDot
{
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: dotted 1px gray;
}
INPUT.SingleBorder
{
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}
INPUT.LightButton
{
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	background-color: #e0e0e0;
}
A.ActLink
{
	text-decoration:none;
	color: darkgreen;
}
A.ActLink:hover
{
	text-decoration:underline;
}
A.ActLink:visited
{
	color:darkgreen;
}
.UpBorder
{
	border-left: solid 1px white;
	border-top: solid 1px white;
	border-right: solid 1px gray;
	border-bottom: solid 1px gray;
}
.DownBorder
{
	border-left: solid 1px gray;
	border-top: solid 1px gray;
	border-right: solid 1px white;
	border-bottom: solid 1px white;
}
.header
{
	border-top: white 1px solid;
	border-left: white 1px solid;
	border-right: gray 1px solid;
	border-bottom: gray 1px solid;
	cursor: default;
}
