BODY,TD,P,UL,BR,input,select,p{font-size: 9pt;  line-height : 120%; font-family: "sans-serif","Arial", "Helvetica";  color : #000000; 
                scrollbar-3dlight-color:595959;
                scrollbar-arrow-color:ffffff;
                scrollbar-base-color:CFCFCF;
                scrollbar-darkshadow-color:FFFFFF;
                scrollbar-face-color:CFCFCF;
                scrollbar-highlight-color:FFFFF;
                scrollbar-shadow-color:595959}

.MenuGroup
{
  background-color:#FFB400;
  border:1px;
  border-style:solid;
  border-top-color:#FFE793; 
  border-left-color:#FFE793; 
  border-right-color:#CE6500; 
  border-bottom-color:#CE6500; 
}

.MenuItem 
{
  background-color:#FFB400; 
  font-family:verdana; 
  font-size:12px; 
  border:1px;
  border-style:solid;
  border-color:#FFB400;
  padding:3px;
  padding-left:5px;
  padding-right:15px;
  cursor:hand;
  color:#621000; 
  /*font-weight:bold; */
}

.MenuItemOver 
{
  background-color:#FFB400; 
  color:black; 
  font-family:verdana; 
  font-size:12px; 
  border:1px;
  border-style:solid;
  border-top-color:#FFE793; 
  border-left-color:#FFE793; 
  border-right-color:#CE6500; 
  border-bottom-color:#CE6500; 
  padding:3px;
  padding-left:5px;
  padding-right:15px;
  cursor:hand;
   /*font-weight:bold; */
}

.MenuItemDown 
{
  background-color:khaki; 
  font-family:verdana; 
  font-size:12px; 
  border:1px;
  border-style:solid;
  border-top-color:#CE6500; 
  border-left-color:#CE6500; 
  border-right-color:#FFE793; 
  border-bottom-color:#FFE793; 
  padding:3px;
  padding-left:5px;
  padding-right:15px;
  cursor:hand;
   /*font-weight:bold; */
  color:#621000; 
}

.TextBox
{
	border:1px solid ;
}

.button_lightgray
{
	border-right:  1px solid;
	border-top:  1px solid;
	border-left:  1px solid;
	border-bottom:  1px solid;
	border-style: outset;
	background-color: lightgray;
}

.calendar {position: absolute; top: -1000; left: -1000}

.calendar_button{BORDER-RIGHT: #B3C9E1 1px solid;BORDER-TOP: #B3C9E1 1px solid;BORDER-LEFT: #B3C9E1 1px solid;
		BORDER-BOTTOM: #ff9900 1px solid;BACKGROUND-COLOR: #EDF2F8;font-family:ו;}