<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection_LabStarV6" connectionString="user id=sa;password=sasa;data source=APOLLO;initial catalog=Digitlab66; pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="SqlServer|MSSql" />
  </connectionStrings>
</configuration>