BODY {background-color: #FFFFFF;color: #515151; font-family: "宋体"; font-size:9pt;} 
td{font-family: "Lucida Grande","宋体", "Arial", "Times New Roman"; font-size: 9pt; font-weight: normal;} 
li { color:#01BEBC} 
table { font-size: 9pt;color:#515151} 
td{color:#000000} 
table { font-family:"Lucida Grande", "宋体", "Arial", "Times New Roman"; font-size:9pt; font-weight: normal;} 

/* 路径 */
.path TD {FONT-SIZE: 12px; color: #8E9CAB; PADDING-TOP:5px; height:28;BORDER-BOTTOM: #bdbdbd 0px solid;}

 p { font-family: "Lucida Grande", "宋体", "Arial", "Times New Roman"; font-size: 12px; font-weight: normal;} 
 li { font-family: "Lucida Grande", "宋体", "Arial", "Times New Roman"; font-size: 9pt; font-weight: normal;line-height:160%} 
.heiti {font-family: "Lucida Grande", "黑体"; font-size: 15pt; color:#3C8887}
.14v{font-size: 14px;color:#000000;font-weight: bold}
.text_red{color:#FF0000}
.input80 {
   font-family:宋体;
   font-size:13px; 
   width: 80; 
   border-bottom:1px solid #999999;
   border-top:1px solid #999999;
   border-right:1px solid #999999;
   border-left:1px solid #999999;}
  
.info TD {BORDER-BOTTOM: #ececec 1px solid; PADDING-TOP:3px;}
  
.bt TD {BACKGROUND-COLOR:transparent;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;}
.bt TD A {BACKGROUND-COLOR:transparent; BORDER-BOTTOM: #9DADC6 1px solid; BORDER-LEFT: #9DADC6 1px solid;BORDER-RIGHT: #9DADC6 1px solid; BORDER-TOP: #9DADC6 1px solid; COLOR: #000000;TEXT-DECORATION: none; PADDING-TOP:1px; WIDTH: 100%;CURSOR: hand;valign="middle"}
.bt TD A:hover {BACKGROUND-COLOR: #ffff00;BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid;BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid;TEXT-DECORATION: none; PADDING-TOP: 1px; COLOR: #000000}

.btn1 TD {BACKGROUND-COLOR:transparent;FONT-SIZE: 12px; color: #ffffff;PADDING-TOP:1px;}
.btn1 TD A {BACKGROUND-COLOR:transparent; BORDER-BOTTOM:#009AFE 1px solid; BORDER-LEFT:#009AFE 1px solid; BORDER-RIGHT:#009AFE 1px solid; BORDER-TOP:#009AFE 1px solid; COLOR: #ffffff;TEXT-DECORATION: none; PADDING-TOP:0px; WIDTH: 100%;CURSOR: hand;valign="middle"}
.btn1 TD A:hover {BACKGROUND-COLOR: #3186D6;BORDER-BOTTOM: #A5C7EF 1px solid; BORDER-LEFT: #A5C7EF 1px solid; BORDER-RIGHT: #A5C7EF 1px solid; BORDER-TOP: #A5C7EF 1px solid;TEXT-DECORATION: none; PADDING-TOP: 0px; COLOR: #ffffff}

/*  */
.btn{filter:progid:DXImageTransform.Microsoft.Shadow(Color=#B0B0B0, Strength=2, Direction=135);}
.btn TD {BACKGROUND-COLOR:#F2F3F7;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;}
.btn TD A {background-image:  url(../images/btnbg.gif); BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #000000;TEXT-DECORATION: none; PADDING-TOP:1px; WIDTH: 100%;CURSOR: hand;valign="middle"}
.btn TD A:hover {background-image:  url(../images/btnbg0.gif); BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #000000;TEXT-DECORATION: none; PADDING-TOP:1px; WIDTH: 100%;CURSOR: hand;valign="middle"}
.btn TD A:visited {BACKGROUND-COLOR:#B8DCFF;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;}

.td1 td { font-size: 12px;color: #000000;line-height: 120%;}
.td1 td a{ font-size: 12px;TEXT-DECORATION: none; color: #000000; line-height: 120%;}
.td1 td a:active{font-size: 12px;TEXT-DECORATION: none; color: #000000;line-height: 120%;}

.Menu 
{width: 100%; height: 22px; padding:8 15 5 12; BORDER-BOTTOM:#B9B8B5 1px solid; background-image:  url(file:///E|/&#24037;&#20316;&#22841;/&#20013;&#20648;&#31918;&#19994;&#21153;/&#21407;&#22411;&#30028;&#38754;/&#21407;&#22411;&#30028;&#38754;/images/bg0.gif); cursor:hand; color:#000000;}

a.white:link {color:#FFFFFF; text-decoration: none} 
a.white:visited {color:#FFFFFF; text-decoration: none} 
a.white:hover {color:#FFFF00; text-decoration: none} 

.abl tr{onmouseover="backgroundColor='#F0F0E1'" onmouseout="backgroundColor='#FFFFFF'"} 

a.black:link {color:#000000; text-decoration: none; font-family: "Arial", "Helvetica", "sans-serif"; }
a.black:visited {color:#000000; text-decoration: none; font-family: "Arial", "Helvetica", "sans-serif"; } 
a.black:hover {color:#ff0000; text-decoration:none; font-family: "Arial", "Helvetica", "sans-serif"; } 

a:link {color:#104D94; text-decoration: none} 
a:visited {color:#446C9A; text-decoration: none}
a:active{color:#FF0000; }
a:hover {color:#FF0000; text-decoration: none} 

a.red:link { color: #FF6622; font-weight: none;text-decoration: none} 
a.red:visited {color:#FF6622; font-weight: none;text-decoration: none} 
a.red:hover {color:#FF4E00;font-weight: bold;text-decoration:underline} 

a.lan:link { font-size: 11pt; font-weight: bold;color: #134D93; text-decoration: none} 
a.lan:visited {font-size: 11pt; font-weight: bold;color:#134d93; text-decoration: none} 
a.lan:hover {font-size: 11pt; font-weight: bold;color:#FF0000;text-decoration:underline; }

/*  */
.tab {BACKGROUND-COLOR:#F8F8F8;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #D4D7DB 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #D4D7DB 1px solid;BORDER-COLLAPSE: collapse;line-height:160%}
.tab TD {BACKGROUND-COLOR:#F8F8F8;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #F8F8F8 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #F8F8F8 1px solid;}
.tab TD A {BACKGROUND-COLOR:#F8F8F8;  COLOR: #104D94;TEXT-DECORATION: none; PADDING-TOP:4px;PADDING-LEFT: 4px; CURSOR: hand;valign="middle";height:21px;}
.tab TD A:hover {BACKGROUND-COLOR:#ffffff;TEXT-DECORATION: none; PADDING-TOP: 4px;PADDING-LEFT: 4px; COLOR: #000000;height:21px;COLOR: #ff0000;}
.tab TH {FONT-SIZE: 12px; color: #000000;PADDING-TOP:4px;PADDING-LEFT: 4px;BACKGROUND-COLOR:#F4F4F4;BORDER-BOTTOM: #A7A6AA 1px solid;BORDER-left: #A7A6AA 1px solid;BORDER-TOP: #A7A6AA 1px solid;BORDER-RIGHT: #A7A6AA 1px solid;}
.tab TH a{FONT-SIZE: 12px; color: #F5C2FD;PADDING-TOP:4px;BACKGROUND-COLOR:#009E9C;BORDER-BOTTOM: #009E9C 1px solid;BORDER-left: #f1f1f1 1px solid;BORDER-TOP: #f1f1f1 1px solid;BORDER-RIGHT: #6684C0 1px solid;TEXT-DECORATION: none}
.tab TH a:hover{FONT-SIZE: 12px; color: #F5C2FD;PADDING-TOP:4px;BACKGROUND-COLOR:#8CAAE6;BORDER-BOTTOM: #420000 1px solid;BORDER-left: #B9A98D 1px solid;BORDER-TOP: #B9A98D 1px solid;BORDER-RIGHT: #420000 1px solid;TEXT-DECORATION: none}

.tab TH.sortable a {
	display: block;
	background: url(../img/displaytag/arrow_off.png) no-repeat right;
	color: #000;
	text-decoration: none;
}


.tab TH.order1 a {
	background-image: url(../images/displaytag/arrow_down.png);
}

.tab TH.order2 a {
	background-image: url(../images/displaytag/arrow_up.png);
}

.list {BACKGROUND-COLOR:#F8F8F8;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #F8F8F8 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #F8F8F8 1px solid;BORDER-COLLAPSE: collapse;line-height:160%}
.list TD {BACKGROUND-COLOR:#F8F8F8;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #F8F8F8 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #F8F8F8 1px solid;}
.list TD A {BACKGROUND-COLOR:#F8F8F8;  COLOR: #104D94;TEXT-DECORATION: none; PADDING-TOP:4px;PADDING-LEFT: 4px; WIDTH: 100%;CURSOR: hand;valign="middle";height:21px;}
.list TD A:hover {BACKGROUND-COLOR:#ffffff;TEXT-DECORATION: none; PADDING-TOP: 4px;PADDING-LEFT: 4px; COLOR: #000000;height:21px;COLOR: #ff0000;}
.list TH {FONT-SIZE: 12px; color: #FFFFFF;PADDING-TOP:4px;PADDING-LEFT: 4px;BACKGROUND-COLOR:#559EC6;BORDER-BOTTOM: #387997 1px solid;BORDER-left: #f1f1f1 1px solid;BORDER-TOP: #ffffff 0px solid;BORDER-RIGHT: #387997 1px solid;}
.list TH a{FONT-SIZE: 12px; color: #F5C2FD;PADDING-TOP:4px;BACKGROUND-COLOR:#009E9C;BORDER-BOTTOM: #009E9C 1px solid;BORDER-left: #f1f1f1 1px solid;BORDER-TOP: #f1f1f1 1px solid;BORDER-RIGHT: #6684C0 1px solid;TEXT-DECORATION: none}
.list TH a:hover{FONT-SIZE: 12px; color: #F5C2FD;PADDING-TOP:4px;BACKGROUND-COLOR:#8CAAE6;BORDER-BOTTOM: #420000 1px solid;BORDER-left: #B9A98D 1px solid;BORDER-TOP: #B9A98D 1px solid;BORDER-RIGHT: #420000 1px solid;TEXT-DECORATION: none}

.tab_title TD {background-image: url(../images/c1.gif); BORDER-BOTTOM: #014969 0px solid; BORDER-LEFT: #014969 0px solid; BORDER-RIGHT: #014969 0px solid; BORDER-TOP: #014969 0px solid; COLOR: #014ECE;font-size: 14px;font-weight: bold; PADDING-TOP:1px; PADDING-LEFT:30px; PADDING-right:15px; nowrap;HEIGHT:28;}
.list_title TD {background-image: url(); BORDER-BOTTOM: #014969 0px solid; BORDER-LEFT: #014969 0px solid; BORDER-RIGHT: #014969 0px solid; BORDER-TOP: #014969 0px solid; COLOR: #29598E;font-size: 12px;font-weight: bold; PADDING-TOP:4px; PADDING-LEFT:20px; PADDING-right:15px; nowrap;HEIGHT:24;}
.list_title_center TD {background-image: url(../images/c1.gif); BORDER-BOTTOM: #014969 0px solid; BORDER-LEFT: #014969 0px solid; BORDER-RIGHT: #014969 0px solid; BORDER-TOP: #014969 0px solid; COLOR: #014ECE;font-size: 14px;font-weight: bold; PADDING-TOP:1px; TEXT-ALIGN:center; HEIGHT:28;}

.printer {border-collapse:collapse;border-color:black}
.printer tr {border-collapse:collapse;border-color:black}
.printer td {border-collapse:collapse;border-color:black}
.printer th {border-collapse:collapse;border-color:black}

.tab_info {FONT-SIZE: 12px; color: #000000;PADDING:3px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #D4D7DB 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #D4D7DB 1px solid;BORDER-COLLAPSE: collapse;line-height:160%}
.tab_info TD {FONT-SIZE: 12px; color: #000000;PADDING:2px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;}
.tab_column {BACKGROUND-COLOR:#F2F3F7;FONT-SIZE: 12px; color: #02458D; PADDING-right:6px; BORDER-BOTTOM: #559EC6 1px solid;BORDER-RIGHT: #559EC6 1px solid;font-weight: bold;TEXT-ALIGN:right; }
.form_cont {BACKGROUND-COLOR:#F8F8F8;FONT-SIZE: 12px; color: #000000;PADDING:2px;height:21px;BORDER-BOTTOM: #559EC6 1px solid;BORDER-RIGHT: #559EC6 1px solid;font-weight: none;TEXT-ALIGN:left; }
.tab_column_left {BACKGROUND-COLOR:#F2F3F7;FONT-SIZE: 12px; color: #333333;PADDING:2px;height:30px;BORDER-BOTTOM: #559EC6 1px solid;BORDER-RIGHT: #559EC6 0px solid;font-weight: bold;TEXT-ALIGN:left; }
.tab_column_center {BACKGROUND-COLOR:#F2F3F7;FONT-SIZE: 12px; color: #333333;PADDING:2px;height:30px;BORDER-BOTTOM: #559EC6 1px solid;BORDER-RIGHT: #559EC6 0px solid;font-weight: bold;TEXT-ALIGN:center; }

.tab_info1 {FONT-SIZE: 12px; color: #000000;PADDING:3px;height:21px;BORDER-BOTTOM: #D4D7DB 0px solid;BORDER-left: #D4D7DB 0px solid;BORDER-RIGHT: #D4D7DB 0px solid;BORDER-TOP: #D4D7DB 0px solid;BORDER-COLLAPSE: collapse;line-height:160%}
.tab_info1 TD {FONT-SIZE: 12px; color: #000000;PADDING:2px;height:21px;BORDER-BOTTOM: #D4D7DB 0px solid;BORDER-RIGHT: #D4D7DB 0px solid;}

.ta_blue {BACKGROUND-COLOR:#E8F0F7;PADDING:8px;}

.TableBorderStyle{
    BACKGROUND-COLOR:#F8F9F9;
    border-color:#60929D;
    border-bottom: 1px solid B7D5EF;
    border-left: 1px solid B7D5EF;
    border-top: 1px solid B7D5EF;
    border-right: 1px solid B7D5EF;
    }

.tab_01 {PADDING:2px; BORDER-TOP: #cccccc 1px solid;BORDER-LEFT: #cccccc 1px solid;}
.tab_01 TD {FONT-SIZE: 12px; PADDING:2px;height:28px;BORDER-BOTTOM: #cccccc 1px solid;BORDER-RIGHT: #cccccc 1px solid;}

.td_blue_01{ background-color: #6699CC;FONT-SIZE: 14px; color: #ffffff;FONT-WEIGHT: bolder;}
.td_white{ background-color: #ffffff; }
.td_grey{ background-color: #EFEFEF; }
.td_title{FONT-SIZE: 24px; color:#FF0000; FONT-WEIGHT: bolder; TEXT-ALIGN:center;line-height:45px}
/*  */
.page1 TD {BACKGROUND-COLOR:#f1f1f1;PADDING-TOP:2px;PADDING-Left:8px;FONT-SIZE: 12px; color: #0000ff;BORDER-top: #BFBFBF 1px solid; }
.page1 TD a{PADDING-TOP:2px;PADDING-Left:8px;FONT-SIZE: 12px; color: #0000ff; TEXT-DECORATION: none;}
.turn_page {BACKGROUND-COLOR:#f1f1f1;PADDING-TOP:2px;PADDING-right:6px;FONT-SIZE: 12px; color: #333333;BORDER-bottom: #BFBFBF 1px solid;TEXT-ALIGN:right; }

/*  */
.location_bar TD {BORDER-BOTTOM: #ffffff 0px solid;BORDER-left: 0px solid;BORDER-top: 0px solid;BORDER-right: 0px solid;PADDING-TOP:0px;COLOR:#003663; }
.tabhead1 TD {BORDER-BOTTOM: #7EA1BD 0px solid;BORDER-left: #7EA1BD 0px solid;BORDER-top: #7EA1BD 0px solid;BORDER-right: #7EA1BD 0px solid;}
/*  */
.new TD {BACKGROUND-COLOR:#f1f1f1;FONT-SIZE: 12px; color: #000000;PADDING-TOP:2px;BORDER-BOTTOM: #BFBFBF 1px solid;BORDER-left: #E6EAEF 0px solid;BORDER-RIGHT: #9DABBB 0px solid;BORDER-TOP: #BFBFBF 1px solid;}
.new1{filter:progid:DXImageTransform.Microsoft.Shadow(Color=#BFBFBF, Strength=2, Direction=135);}
.new1 TD {BORDER-BOTTOM: #BFBFBF 0px solid;BORDER-left: #BFBFBF 0px solid;BORDER-top:#BFBFBF 0px solid;BORDER-right:#BFBFBF 0px solid;	PADDING-TOP:4px;PADDING-Left:6px;PADDING-Right:6px; BACKGROUND-COLOR:#ffffff;FONT-SIZE: 12px; color: #000000;}

input {
} 
select{ height: 18px; BACKGROUND-COLOR:#E3EFF8;border: 1px solid #B8B7B5; font-size: 12px; color: #333333; text-decoration: none } 
.text_btn { height: 21px; BACKGROUND-COLOR:#3188B8;border: 1px solid #333333; font-size: 12px; color: #ffffff; text-decoration: none ;} 
.input_text { height: 18px; width:120px;BACKGROUND-COLOR:#E3EFF8;border: 1px solid #6199C5; font-size: 12px; color: #333333; text-decoration: none ;}
.input_text1 { height: 18px; BACKGROUND-COLOR:#E3EFF8;border: 1px solid #6199C5; font-size: 12px; color: #333333; text-decoration: none ;} 
.input_areabox { height: 50px; width:90%;BACKGROUND-COLOR:#ffffff;border: 1px solid #6199C5; font-size: 12px; color: #333333; text-decoration: none ;} 
.input_text_right { height: 18px; BACKGROUND-COLOR:#E3EFF8;border: 1px solid #6199C5; font-size: 12px; color: #333333; text-decoration: none ;TEXT-ALIGN:right;} 
.noinput { BACKGROUND-COLOR:#ffffff;border: 0px; font-size: 12px; color: #333333; text-decoration: none ;} 

/*  */
.tabnew {BACKGROUND-COLOR:#F8F8F8;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #F8F8F8 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #F8F8F8 1px solid;BORDER-COLLAPSE: collapse;line-height:160%}
.tabnew_tdleft{BACKGROUND-COLOR:#559EC6;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #F8F8F8 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #F8F8F8 1px solid;}
.tabnew_tdright{BACKGROUND-COLOR:#F8F8F8;FONT-SIZE: 12px; color: #000000;PADDING-TOP:1px;height:21px;BORDER-BOTTOM: #D4D7DB 1px solid;BORDER-left: #F8F8F8 1px solid;BORDER-RIGHT: #D4D7DB 1px solid;BORDER-TOP: #F8F8F8 1px solid;}
.disable{height: 18px; width:120px;BACKGROUND-COLOR:#E3EFF8;border: 1px solid #C3C3C3; font-size: 12px; color: gray; text-decoration: none ;}
select.disable {height: 18px; width:120px;BACKGROUND-COLOR:E3EFF8;border: 1px solid #C3C3C3; font-size: 12px; color: gray;  text-decoration: none ;}
		.validation-advice {
			color : #ff0000;
			font-weight: bold;
		}
		
		.custom-advice {
			background-color: #C8AA00;
			color : #FFF;
			font-weight: bold;
		}

input.validation-failed, textarea.validation-failed, select.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
.btn_blue
{BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-SIZE: 9pt; BORDER-LEFT: 1px ridge; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #8ebae6
}

.buttonstyle
{
	border-style: ridge;
	border-color: inherit;
	border-width: 1px;
	font-size: 9pt;
		font-family: 宋体;
		background-color: #8ebae6;
	}
.buttonstyle1
{
	BORDER-RIGHT: rgb(0,0,0) 1px solid; 
	BACKGROUND-POSITION: 0% 50%; 
	BORDER-TOP: rgb(0,0,0) 1px solid; 
	FONT-SIZE: 9pt; 
	BACKGROUND-ATTACHMENT: scroll; 
	BORDER-LEFT: rgb(0,0,0) 1px solid; 
	WIDTH: 100px; 
	BORDER-BOTTOM: rgb(0,0,0) 1px solid; 
	BACKGROUND-REPEAT: repeat; 
	HEIGHT: 18px; 
	BACKGROUND-COLOR: #d6df8f
}
.input_var{ border:solid 1px black;font-size:12px; width:80px}

