A{text-decoration:none;color:black}
A:hover {COLOR: #ff0000; TEXT-DECORATION: underline}
body{font-size:9pt;color:#000000}
td{font-size:9pt;color:#000000}
a.yt{text-decoration:none;color:blue}
a.ting{text-decoration:none;color:red}
.f {
	BACKGROUND-COLOR: #f7f7f7; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: #0066ff; FILTER: Alpha(opacity=65);  FONT-SIZE: 14.8px
}
.textbox { 
 BORDER-BOTTOM:1px solid;
 BORDER-LEFT:1px solid; 
 BORDER-RIGHT:1px solid;
 BORDER-TOP:1px solid;
 FONT-SIZE: 14.8px
}

.C_Green
{BORDER-RIGHT: rgb(0,0,0) 1px solid; BACKGROUND-POSITION: 0% 50%; BORDER-TOP: rgb(0,0,0) 1px solid; FONT-SIZE: 9pt; BACKGROUND-ATTACHMENT: scroll; BORDER-LEFT: rgb(0,0,0) 1px solid;  BORDER-BOTTOM: rgb(0,0,0) 1px solid; BACKGROUND-REPEAT: repeat; HEIGHT: 18px; BACKGROUND-COLOR: #d6df8f
}
.btn_blue
{BORDER-RIGHT: 1px ridge; BORDER-TOP: 1px ridge; FONT-SIZE: 9pt; BORDER-LEFT: 1px ridge; BORDER-BOTTOM: 1px ridge; FONT-FAMILY: ו; BACKGROUND-COLOR: #8ebae6
}

.buttonstyle
{
	border-right: 1px ridge;
	border-top: 1px ridge;
	font-size: 9pt;
	border-left: 1px ridge;
	border-bottom: 1px ridge;
	font-family: ו;
	background-color: #8ebae6;
}
.buttonstyle1
{
	BORDER-RIGHT: rgb(0,0,0) 1px solid; 
	BACKGROUND-POSITION: 0% 50%; 
	BORDER-TOP: rgb(0,0,0) 1px solid; 
	FONT-SIZE: 9pt; 
	BACKGROUND-ATTACHMENT: scroll; 
	BORDER-LEFT: rgb(0,0,0) 1px solid; 
	WIDTH: 100px; 
	BORDER-BOTTOM: rgb(0,0,0) 1px solid; 
	BACKGROUND-REPEAT: repeat; 
	HEIGHT: 18px; 
	BACKGROUND-COLOR: #d6df8f
}
.input_var{ border:solid 1px black;font-size:12px; width:80px}
.DataTable {
	color:#555;
	margin:10px auto;
}
.DataTable td a {
	text-decoration:underline;
}
.DataTable td a:hover {
	text-decoration:none;

}


.Freezing 
   { 
    
   position:relative ; 
   table-layout:fixed;
   top:expression(this.offsetParent.scrollTop);   
   z-index: 10;
   } 
.Freezing th{text-overflow:ellipsis;overflow:hidden;white-space: nowrap;padding:2px;}





